<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
// Ves Themesettings
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php
// Ves
$_imgHelper = $this->helper('Ves\Themesettings\Helper\Image');
$data = $this->helper('Ves\Themesettings\Helper\Data'); 
$ves = $this->helper('Ves\Themesettings\Helper\Theme');

$classes = '';

$show_toptoolbar = $ves->getCategoryPageCfg('general_settings/show_toptoolbar');
$show_bottomtoolbar = $ves->getCategoryPageCfg('general_settings/show_bottomtoolbar');


// Item Settings
$show_name = $ves->getCategoryPageCfg('product_settings/show_name');
$show_name_single_line = (int)$ves->getCategoryPageCfg('product_settings/show_name_single_line');
if($show_name_single_line){
    $classes .= ' single-line-name';
}
$show_short_description = $ves->getCategoryPageCfg('product_settings/show_short_description');
$short_max_char = (int)$ves->getCategoryPageCfg('product_settings/short_max_char');
$show_learnmore = $ves->getCategoryPageCfg('product_settings/show_learnmore');
$show_price = $ves->getCategoryPageCfg('product_settings/show_price');
$show_review = $ves->getCategoryPageCfg('product_settings/show_review');
$show_countdowntimer = $ves->getCategoryPageCfg('product_settings/show_countdowntimer');
$show_quickview = $ves->getCategoryPageCfg('product_settings/show_quickview');
$quickview_format = $ves->getCategoryPageCfg('product_settings/quickview_format_type');
$quickview_text = $ves->getCategoryPageCfg('product_settings/quickview_format_text');
$quickview_class = $ves->getCategoryPageCfg('product_settings/quickview_format_class');
$quickviewText = '<span>'.$quickview_text.'</span>';
$quickviewIcon = '<i class="'.$quickview_class.'"></i>';
$quickviewtHtml = '';
if((!$quickview_format || $quickview_format == 'text') && $quickview_text){ // Only Text
    $quickviewtHtml = $quickviewText;
}elseif($quickview_format == 'icon'){ // Only Icon
    $quickviewtHtml = $quickviewIcon;
}elseif($quickview_format == 'icon-text'){ // Icon, Text
    $quickviewtHtml = $quickviewIcon.$quickviewText;
}elseif($quickview_format == 'text-icon'){ // Text, Icon
    $quickviewtHtml = $quickviewText.$quickviewIcon;
}

$quickview_popup_height = $ves->getCategoryPageCfg('product_settings/quickview_popup_height');
$quickview_popup_width = $ves->getCategoryPageCfg('product_settings/quickview_popup_width');
$show_addtocart = $ves->getCategoryPageCfg('product_settings/show_addtocart');
$addtocart_format = $ves->getCategoryPageCfg('product_settings/addtocart_format_type');
$addtocart_text = $ves->getCategoryPageCfg('product_settings/addtocart_format_text');
$addtocart_class = $ves->getCategoryPageCfg('product_settings/addtocart_format_class');
$addtocartText = '<span>'.$addtocart_text.'</span>';
$addtocartIcon = '<i class="'.$addtocart_class.'"></i>';
$addToCartHtml = '';
if((!$addtocart_format || $addtocart_format == 'text') && $addtocart_text){ // Only Text
    $addToCartHtml = $addtocartText;
}elseif($addtocart_format == 'icon'){ // Only Icon
    $addToCartHtml = $addtocartIcon;
}elseif($addtocart_format == 'icon-text'){ // Icon, Text
    $addToCartHtml = $addtocartIcon.$addtocartText;
}elseif($addtocart_format == 'text-icon'){ // Text, Icon
    $addToCartHtml = $addtocart_text.$addtocartIcon;
}

$addtocart_popup_height = $ves->getCategoryPageCfg('product_settings/addtocart_popup_height');
$addtocart_popup_width = $ves->getCategoryPageCfg('product_settings/addtocart_popup_width');
$show_wishlist = $ves->getCategoryPageCfg('product_settings/show_wishlist');
$wishlist_format = $ves->getCategoryPageCfg('product_settings/wishlist_format_type');
$wishlist_text = $ves->getCategoryPageCfg('product_settings/wishlist_format_text');
$wishlist_class = $ves->getCategoryPageCfg('product_settings/wishlist_format_class');
$wishlistText = '<span>'.$wishlist_text.'</span>';
$wishlistIcon = '<i class="'.$wishlist_class.'"></i>';
$wishlistHtml = '';
if((!$wishlist_format || $wishlist_format == 'text') && $wishlist_text){ // Only Text
    $wishlistHtml = $wishlistText;
}elseif($wishlist_format == 'icon'){ // Only Icon
    $wishlistHtml = $wishlistIcon;
}elseif($wishlist_format == 'icon-text'){ // Icon, Text
    $wishlistHtml = $wishlistIcon.$wishlistText;
}elseif($wishlist_format == 'text-icon'){ // Text, Icon
    $wishlistHtml = $wishlistText.$wishlistIcon;
}

$show_compare = $ves->getCategoryPageCfg('product_settings/show_compare');
$compare_format = $ves->getCategoryPageCfg('product_settings/compare_format_type');
$compare_text = $ves->getCategoryPageCfg('product_settings/compare_format_text');
$compare_class = $ves->getCategoryPageCfg('product_settings/compare_format_class');
$compareText = '<span>'.$compare_text.'</span>';
$compareIcon = '<i class="'.$compare_class.'"></i>';
$compareHtml = '';
if((!$compare_format || $compare_format == 'text') && $compare_text){ // Only Text
    $compareHtml = $compareText;
}elseif($compare_format == 'icon'){ // Only Icon
    $compareHtml = $compareIcon;
}elseif($compare_format == 'icon-text'){ // Icon, Text
    $compareHtml = $compareIcon.$compareText;
}elseif($compare_format == 'text-icon'){ // Text, Icon
    $compareHtml = $compareText.$compareIcon;
}

$show_new_label = $ves->getCategoryPageCfg('product_settings/show_new_label');
$show_sale_label = $ves->getCategoryPageCfg('product_settings/show_sale_label');
$show_image = $ves->getCategoryPageCfg('product_settings/show_image');
$aspect_ratio = $ves->getCategoryPageCfg('product_settings/aspect_ratio');
$image_width = $ves->getCategoryPageCfg('product_settings/image_width');
$image_height = $ves->getCategoryPageCfg('product_settings/image_height');
$alt_image = $ves->getCategoryPageCfg('product_settings/alt_image');
$alt_image_column = $ves->getCategoryPageCfg('product_settings/alt_image_column');
$alt_image_column_value = $ves->getCategoryPageCfg('product_settings/alt_image_column_value');

//If image width is not specified, use default values
if ($image_width <= 0){
    $image_width = 300;
    $image_height = 300;
}
$catViewKeepFrame = TRUE;
if($aspect_ratio){
    $image_height = 0;
    $catViewKeepFrame = FALSE;
}
if ($data->getCoreRegistry()->registry('catViewKeepFrame') === NULL){
    $data->getCoreRegistry()->register('catViewKeepFrame', $catViewKeepFrame);
}
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php if($show_toptoolbar){ ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php } ?>

    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php echo $classes ?> <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php $productId = time().rand(); ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-block">
                    <div class="product-item-info" data-container="product-grid">

                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>

                        <div class="product-image">
                            <div class="product-img">
                                <?php // Product Image ?>
                                <?php if($show_image){ ?>
                                <?php
                                $_image = $_imgHelper->getImg($_product, $image_width, $image_height, 'category_page_grid');
                                ?>
                                <?php if($_image){ ?>
                                <?php // Product Image ?>
                                <?php
                                $ratio = 1;
                                if ($image_width && $image_height) {
                                    $ratio = $image_height / $image_width;
                                }
                                ?>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?php //echo $productImage->toHtml(); ?>
                                    <span class="product-image-container" style="width:<?php echo $image_width ?>px;">
                                        <span class="product-image-wrapper" style="padding-bottom: <?php echo ($ratio * 100); ?>%;">
                                            <img class="product-image-photo" src="<?php echo $_image->getUrl(); ?>" alt="<?php echo $_image->getLabel() ?>" />
                                        </span>
                                    </span>

                                </a>
                                <?php } ?>
                                <?php if($alt_image){ ?>
                                <?php
                                $_altImg = $_imgHelper->getAltImgHtml($_product, $image_width, $image_height, 'category_page_grid', $alt_image_column, $alt_image_column_value);
                                ?>
                                <?php if($_altImg){ ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" class="hover-image" title="<?php echo $_altImg->getLabel() ?>" class="product photo product-item-photo">
                                    <img src="<?php echo $_altImg->getUrl(); ?>" alt="<?php echo $_altImg->getLabel() ?>" />
                                </a>
                                <?php } ?>
                                <?php } ?>    
                                <?php } ?>
                            </div>

                            <?php // Sale Icon, New Icon Block ?>
                            <?php if($show_new_label || $show_sale_label){ ?>
                            <div class="icon">
                                <?php
                                if($show_sale_label) {
                                    $specialprice = $_product->getSpecialPrice();
                                    $specialPriceFromDate = $_product->getSpecialFromDate();
                                    $specialPriceToDate = $_product->getSpecialToDate();
                                    $today =  time();
                                    if ($specialprice) {
                                        if(($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate)) || ($today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) || (is_null($specialPriceFromDate) && $today <= strtotime($specialPriceToDate)) || (is_null($specialPriceFromDate) && is_null($specialPriceToDate))) {
                                            ?>
                                            <span class="onsale"><span><?php echo __("Sale");?></span></span>
                                            <?php
                                        }
                                    }
                                }
                                if($show_new_label) {
                                    $is_new = $data->checkProductIsNew( $_product );
                                    if($is_new) { ?>
                                    <span class="new-icon"><span><?php echo __("New");?></span></span>
                                    <?php
                                }
                            }
                            ?>
                        </div>
                        <?php } ?>

                <?php echo $block->getProductDetailsHtml($_product); ?>
                
                <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                    <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                        <?php // Add to cart button ?>
                            <?php if($show_addtocart){ ?>
                            <?php if ($_product->isSaleable()): ?>
                                <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                    <button class="action tocart add-to-cart vesthemesettings-fancybox" type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" data-fancybox-href="<?php echo $data->getAddToCartUrl($_product) ?>" data-fancybox-type="iframe" data-fancybox-width="<?php echo $addtocart_popup_width ?>" data-fancybox-height="<?php echo $addtocart_popup_height ?>">
                                        <?php echo $addToCartHtml ?>
                                    </button>
                                    <?php else: ?>
                                        <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                        ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="ves" value="1">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit"
                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                            class="action add-to-cart">
                                            <?php echo $addToCartHtml ?>
                                        </button>
                                    </form>
                                <?php endif; ?>
                            <?php else: ?>
                                <?php if ($_product->getIsSalable()): ?>
                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php } ?>
                    </div>

                    <?php if($show_compare || $show_wishlist){ ?>
                        <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>

                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $show_wishlist): ?>
                                <a href="#"
                                    class="add-to-wishlist"
                                    title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                    data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                    data-action="add-to-wishlist"
                                    role="button">
                                    <?php echo $wishlistHtml ?>
                                </a>
                            <?php endif; ?>
                            
                            <?php if($show_compare){ ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                    class="add-to-compare"
                                    title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                    data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                    role="button">
                                    <?php echo $compareHtml ?>
                                </a>
                            <?php } ?>
 
                            <?php // Quickview ?>
                            <?php if($show_quickview){ ?>
                            <?php
                            $_image = $_imgHelper->getImg($_product, (int)$quickview_popup_width, (int)$quickview_popup_height, 'category_page_grid');
                            if($_image->getUrl()){
                                ?>
                                <a href="javascript:void(0)" id="vesthemesettings-fancybox-<?php echo $productId ?>" title="<?php echo $_product->getName(); ?>" data-fancybox-href="<?php echo $data->getAddToCartUrl($_product) ?>" data-fancybox-type="iframe" onclick="return false;" data-fancybox-height="<?php echo $quickview_popup_height ?>" data-fancybox-width="<?php echo $quickview_popup_width ?>" class="quick-view vesthemesettings-fancybox" >
                                    <?php echo $quickviewtHtml; ?>
                                </a>
                                <?php } ?>
                            <?php } ?>
                    </div>
                <?php } ?>

                </div>

            </div>

            <div class="product details product-item-details">

            <?php if($show_review){ ?>
                <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
            <?php } ?>
            
            <?php
            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
            ?>
            <?php if($show_name){ ?>
                <strong class="product name product-item-name">
                    <a class="product-item-link"
                        href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                    </a>
                </strong>
            <?php } ?>

            <?php if($show_price){ ?>
            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
            <?php } ?>

            <?php // Short Description ?>
            <?php if ($show_short_description){ ?>
            <div class="product-item-inner">
                <div class="product description product-item-description">
                    <?php $shortDescription = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'); ?>
                    <?php $short_description = $data->subString($shortDescription, $short_max_char, '...'); ?>
                    <?php echo $short_description; ?>
                    <?php if($show_learnmore && $short_description!=''){ ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="action more">
                        <?php echo __('Learn More') ?></a>
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
<?php endforeach; ?>
</ol>
</div>
<?php if($show_bottomtoolbar){ ?>
<?php echo $block->getToolbarHtml() ?>
<?php } ?>
<?php /*if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "themesettingsaddtocart": {}
            }
        }
    </script>
<?php endif;*/ ?>
<?php endif; ?>
