// CSS image replacement
//
// Heads up! v3 launched with only `.hide-text()`, but per our pattern for
// mixins being reused as classes with the same name, this doesn't hold up. As
// of v3.0.1 we have added `.text-hide()` and deprecated `.hide-text()`.
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757

// Deprecated as of v3.0.1 (has been removed in v4)
.hide-text() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// New mixin to use as of v3.0.1
.text-hide() {
  .hide-text();
}

// Opacity
 
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

// Image Mixins
// - Responsive image
// - Retina image


// Responsive image
//
// Keep images from scaling beyond the width of their parents.
.img-responsive(@display: block) {
  display: @display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}


// Retina image
//
// Short retina mixin for setting background-image and -size. Note that the
// spelling of `min--moz-device-pixel-ratio` is intentional.
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}

.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}


// Resize anything

.resizable(@direction) {
  resize: @direction; // Options: horizontal, vertical, both
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
}


// Responsive utilities

//
// More easily include all the states for responsive-utilities.less.
.responsive-visibility() {
  display: block !important;
  table&  { display: table !important; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

.responsive-invisibility() {
  display: none !important;
}


// Sizing shortcuts

.size(@width; @height) {
  width: @width;
  height: @height;
}

.square(@size) {
  .size(@size; @size);
}


/*background RGBA
============================================*/
.rgba(@colour, @alpha)
{
   @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
   @ieAlphaColour: argb(@alphaColour);   
   background-color: @colour; 
   background-color: @alphaColour;       
   zoom: 1; 
   background-color: transparent\9;   
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; 
   filter:  ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; 
   
}



.border-rgba(@colour, @alpha)
{
   @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
   @ieAlphaColour: argb(@alphaColour);   
   border-color: @colour; 
   border-color: @alphaColour;       
   zoom: 1; 
   border-color: transparent\9;
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; 
   filter:  ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})";     
}

/*inline-block
============================================*/

.inline-block() {
   display: inline-block;
   *display: inline;
   zoom: 1;   
}

.reset-text() {
  font-family: @font-family-base;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: @line-height-base;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

// Typography

.text-emphasis-variant(@color) {
  color: @color;
  a&:hover,
  a&:focus {
    color: darken(@color, 10%);
  }
}

// Text overflow
// Requires inline-block or block for proper styling

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Vendor Prefixes
//
// All vendor mixins are deprecated as of v3.2.0 due to the introduction of
// Autoprefixer in our Gruntfile. They have been removed in v4.

// - Animations
// - Backface visibility
// - Box shadow
// - Box sizing
// - Content columns
// - Hyphens
// - Placeholder text
// - Transformations
// - Transitions
// - User Select


// Animations
.animation(@animation) {
  -webkit-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.animation-name(@name) {
  -webkit-animation-name: @name;
          animation-name: @name;
}
.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
          animation-duration: @duration;
}
.animation-timing-function(@timing-function) {
  -webkit-animation-timing-function: @timing-function;
          animation-timing-function: @timing-function;
}
.animation-delay(@delay) {
  -webkit-animation-delay: @delay;
          animation-delay: @delay;
}
.animation-iteration-count(@iteration-count) {
  -webkit-animation-iteration-count: @iteration-count;
          animation-iteration-count: @iteration-count;
}
.animation-direction(@direction) {
  -webkit-animation-direction: @direction;
          animation-direction: @direction;
}
.animation-fill-mode(@fill-mode) {
  -webkit-animation-fill-mode: @fill-mode;
          animation-fill-mode: @fill-mode;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

.backface-visibility(@visibility) {
  -webkit-backface-visibility: @visibility;
     -moz-backface-visibility: @visibility;
          backface-visibility: @visibility;
}

// Drop shadows
//
// Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
// supported browsers that have box shadow capabilities now support it.

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// CSS3 Content Columns
.content-columns(@column-count; @column-gap: @grid-gutter-width) {
  -webkit-column-count: @column-count;
     -moz-column-count: @column-count;
          column-count: @column-count;
  -webkit-column-gap: @column-gap;
     -moz-column-gap: @column-gap;
          column-gap: @column-gap;
}

// Optional hyphenation
.hyphens(@mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: @mode;
     -moz-hyphens: @mode;
      -ms-hyphens: @mode; // IE10+
       -o-hyphens: @mode;
          hyphens: @mode;
}

// Placeholder text
.placeholder(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// Transformations
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
      -ms-transform: scale(@ratio); // IE9 only
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.scale(@ratioX; @ratioY) {
  -webkit-transform: scale(@ratioX, @ratioY);
      -ms-transform: scale(@ratioX, @ratioY); // IE9 only
       -o-transform: scale(@ratioX, @ratioY);
          transform: scale(@ratioX, @ratioY);
}
.scaleX(@ratio) {
  -webkit-transform: scaleX(@ratio);
      -ms-transform: scaleX(@ratio); // IE9 only
       -o-transform: scaleX(@ratio);
          transform: scaleX(@ratio);
}
.scaleY(@ratio) {
  -webkit-transform: scaleY(@ratio);
      -ms-transform: scaleY(@ratio); // IE9 only
       -o-transform: scaleY(@ratio);
          transform: scaleY(@ratio);
}
.skew(@x; @y) {
  -webkit-transform: skewX(@x) skewY(@y);
      -ms-transform: skewX(@x) skewY(@y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
       -o-transform: skewX(@x) skewY(@y);
          transform: skewX(@x) skewY(@y);
}
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9 only
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.translate3d(@x; @y; @z) {
  -webkit-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.rotateX(@degrees) {
  -webkit-transform: rotateX(@degrees);
      -ms-transform: rotateX(@degrees); // IE9 only
       -o-transform: rotateX(@degrees);
          transform: rotateX(@degrees);
}
.rotateY(@degrees) {
  -webkit-transform: rotateY(@degrees);
      -ms-transform: rotateY(@degrees); // IE9 only
       -o-transform: rotateY(@degrees);
          transform: rotateY(@degrees);
}
.perspective(@perspective) {
  -webkit-perspective: @perspective;
     -moz-perspective: @perspective;
          perspective: @perspective;
}
.perspective-origin(@perspective) {
  -webkit-perspective-origin: @perspective;
     -moz-perspective-origin: @perspective;
          perspective-origin: @perspective;
}
.transform-origin(@origin) {
  -webkit-transform-origin: @origin;
     -moz-transform-origin: @origin;
      -ms-transform-origin: @origin; // IE9 only
          transform-origin: @origin;
}


// Transitions

.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
          transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
  -webkit-transition-delay: @transition-delay;
          transition-delay: @transition-delay;
}
.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}
.transition-timing-function(@timing-function) {
  -webkit-transition-timing-function: @timing-function;
          transition-timing-function: @timing-function;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}




// User select
// For selecting text on the page

.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
          user-select: @select;
}


.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Navbar vertical align
//
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.

.navbar-vertical-align(@element-height) {
  margin-top: ((@navbar-height - @element-height) / 2);
  margin-bottom: ((@navbar-height - @element-height) / 2);
}


// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.

.make-grid-columns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) { // initial
    @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  ceil((@grid-gutter-width / 2));
      padding-right: floor((@grid-gutter-width / 2));
    }
  }
  .col(1); // kickstart it
}

.float-grid-columns(@class) {
  .col(@index) { // initial
    @item: ~".col-@{class}-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general
    @item: ~".col-@{class}-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      float: left;
    }
  }
  .col(1); // kickstart it
}

.calc-grid-column(@index, @class, @type) when (@type = width) and (@index > 0) {
  .col-@{class}-@{index} {
    width: percentage((@index / @grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = push) and (@index > 0) {
  .col-@{class}-push-@{index} {
    left: percentage((@index / @grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = push) and (@index = 0) {
  .col-@{class}-push-0 {
    left: auto;
  }
}
.calc-grid-column(@index, @class, @type) when (@type = pull) and (@index > 0) {
  .col-@{class}-pull-@{index} {
    right: percentage((@index / @grid-columns));
  }
}
.calc-grid-column(@index, @class, @type) when (@type = pull) and (@index = 0) {
  .col-@{class}-pull-0 {
    right: auto;
  }
}
.calc-grid-column(@index, @class, @type) when (@type = offset) {
  .col-@{class}-offset-@{index} {
    margin-left: percentage((@index / @grid-columns));
  }
}

// Basic looping in LESS
.loop-grid-columns(@index, @class, @type) when (@index >= 0) {
  .calc-grid-column(@index, @class, @type);
  // next iteration
  .loop-grid-columns((@index - 1), @class, @type);
}

// Create grid for specific class
.make-grid(@class) {
  .float-grid-columns(@class);
  .loop-grid-columns(@grid-columns, @class, width);
  .loop-grid-columns(@grid-columns, @class, pull);
  .loop-grid-columns(@grid-columns, @class, push);
  .loop-grid-columns(@grid-columns, @class, offset);
}


// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
.container-fixed(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor((@gutter / 2));
  padding-right: ceil((@gutter / 2));
  &:extend(.clearfix all);
}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  margin-left:  ceil((@gutter / -2));
  margin-right: floor((@gutter / -2));
  &:extend(.clearfix all);
}

// Generate the extra small columns
.make-xs-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage((@columns / @grid-columns));
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
}
.make-xs-column-offset(@columns) {
  margin-left: percentage((@columns / @grid-columns));
}
.make-xs-column-push(@columns) {
  left: percentage((@columns / @grid-columns));
}
.make-xs-column-pull(@columns) {
  right: percentage((@columns / @grid-columns));
}

// Generate the small columns
.make-sm-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-sm-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-sm-column-offset(@columns) {
  @media (min-width: @screen-sm-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-sm-column-push(@columns) {
  @media (min-width: @screen-sm-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-sm-column-pull(@columns) {
  @media (min-width: @screen-sm-min) {
    right: percentage((@columns / @grid-columns));
  }
}

// Generate the medium columns
.make-md-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-md-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-md-column-offset(@columns) {
  @media (min-width: @screen-md-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-md-column-push(@columns) {
  @media (min-width: @screen-md-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-md-column-pull(@columns) {
  @media (min-width: @screen-md-min) {
    right: percentage((@columns / @grid-columns));
  }
}

// Generate the large columns
.make-lg-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-lg-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-lg-column-offset(@columns) {
  @media (min-width: @screen-lg-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-lg-column-push(@columns) {
  @media (min-width: @screen-lg-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-lg-column-pull(@columns) {
  @media (min-width: @screen-lg-min) {
    right: percentage((@columns / @grid-columns));
  }
}

/* ---------------------------------- Mixin --------------------------------------- */
.rtl-float-left(){
  float: left;
  .rtl &{
    float: right !important;
  }
}
.rtl-float-right(){
  float: right;
  .rtl &{
    float: left !important;
  }
}

.rtl-text-align-left(){
  text-align: left;
  .rtl &{
    text-align: right;
  }
}
.rtl-text-align-right(){
  text-align: right;
  .rtl &{
    text-align: left;
  }
}

.rtl-left(@left){
  left: @left;
  .rtl &{
    right: @left;
    left: auto;
  }
}

.rtl-right(@right){
  right: @right;
  .rtl &{
    left: @right;
    right: auto;
  }
}
.border-radius(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius; 
}
.rtl-border-right(@border-color){
  border-right: 1px solid @border-color;
  .rtl & {
    border-left: 1px solid @border-color;
    border-right: none;
  }
}
.rtl-border-left(@border-color){
  border-left: 1px solid @border-color;
  .rtl & {
    border-right: 1px solid @border-color;
    border-left: none;
  }
}
.rtl-padding-left(@pleft){
  padding-left: @pleft;
  .rtl & {
    padding-right: @pleft;
    padding-left: inherit;
  }
}

.rtl-padding-right(@pright){
  padding-right: @pright;
  .rtl & {
    padding-left: @pright;
    padding-right: inherit;
  }
}

.rtl-margin-left(@mleft){
  margin-left: @mleft;
  .rtl & {
    margin-right: @mleft;
    margin-left: inherit;
  }
}

.rtl-margin-right(@mright){
  margin-right: @mright;
  .rtl & {
    margin-left: @mright;
    margin-right: inherit;
  }
}

/* ---------------------------------- Animation --------------------------------------- */
/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Shine */
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

& when (@media-common = true) {
/* Tools */
.a-left       { .rtl-text-align-left(); }
.a-center     { text-align:center !important; }
.a-right      { .rtl-text-align-right(); }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left       { .rtl-float-left(); }
.f-right      { .rtl-float-right(); }
.f-none       { float:none !important; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.col-no-padding{padding: 0!important;}
.row-no-margin{margin: 0!important;}
.no-bg        { background:none !important; }
.border       {border: 1px solid @border-color__base;}
.border-top   {border-top: 1px solid @border-color__base;}
.border-bottom{border-bottom: 1px solid @border-color__base;}
.border-left  {.rtl-border-left(@border-color__base);}
.border-right  {.rtl-border-right(@border-color__base);}
.border-top-default{border-top: 3px solid @theme-color-default;}
.learn-more{
  font-weight: 500;
  &::after{
    content: " \f309";
    font-family: @font-icon-family-second;
    .rtl-margin-left(6px);
    }
  &:hover{text-decoration: underline;}
}
.view-more{
  color: @theme-color-default!important;
  position: relative;
  &::after{
    content: "\f2f6";
    font-family: @font-icon-family-second;
    font-size: 16px;
    line-height: 18px;
    .inline-block();
    vertical-align: top;
    .rtl-margin-left(8px);
  }
}
}

// *****************************************************
//  * @package Venus Theme Framework for Magento 2.x
//  * @version 1.0
//  * @author http://www.venustheme.com
//  * @copyright Copyright (C) Augus 2015 VenusThemes.com <@email:venusthemes@gmail.com>.All rights reserved.
//  * @license   GNU General Public License version 1
// ******************************************************

& when (@media-common = true) {
@media (min-width: 1400px) {
  .w-padding{padding: 0 5%;}
}
@media (max-width: 1399px) {
  .w-padding{padding: 0 15px;}
}
@media (min-width: 1025px) {
  .cms-index-index, [class*=cms-amaze-home-]{
    .page-header:not(.navbar-fixed-top){
      #ves-header.header4{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .catalog-category-view.page-layout-1column-fullwidth{
    .grid.products-grid .product-item{width: 20%;}
  }
  .products-grid.grid{
    .col4-items{
      .product-item{width: 25%!important;}
    }
    .col5-items{
      .product-item{width: 20%!important;}
    }
  }
  .col-primary > .col-inner{.rtl-padding-left(30px);}
}
}

// min-width 992px

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .page-header{
    border: 0;
    .header-menu, .header-right{position: absolute;}
    .header-right{
      .rtl-right(0); 
      top: 1px;
      z-index: 1; 
      .rtl-border-left(#ddd); 
      min-height: 50px;
      padding-top: 10px;
      .rtl-padding-left(10px);
    }
  }
  .catalog-category-view, .catalog-product-view, .vesblog-latest-view, .vesblog-category-view{
    #maincontent{position: relative;}
  }
  .page-layout-2columns-left, .page-layout-2columns-right{
    .product-info-main .box-tocart{width: 100%;}
  }
  .page-layout-1column-fullwidth{
    .minicart-warp{
      .rtl-padding-right(10px);
      .rtl &{padding-right: 0;}
    }
    .product-info-main{width: 66%!important;}
    .product.media{width: 32%!important;}
  }
  .ves-menutop .ves-megamenu li.level0:first-child{.rtl-margin-left(250px);}
  .ves-menutop .ves-megamenu li.level0:last-child{.rtl-margin-right(100px);}
  .page-layout-1column{
    .grid.products-grid .product-item{width: 25%;}
    .product-block .product-item-info{width: 100%;}
    .column.main{
      padding-top: 0!important;
    }
    .toolbar-products{position: static!important;}
    #layered-filter-block{
      .rtl-float-left();
      width: 100%;
      margin-bottom: 15px;
      .block-title{.rtl-float-left(); margin-right: 30px;}
      .filter-content{
        padding: 0; 
        .rtl-float-left();
        position: relative;
        z-index: 101;
        margin-top: 20px;
      }
      .filter-options-content{padding: 5px 10px;}
      .filter-options-title{
        padding: 0 20px 0 0 !important;
        &::after{top: 2px; font-size: 10px;}
      }
    }
  }
  .fancybox-type-iframe .fancybox-inner{max-height: 630px;}
  .vesmodal{
    .modal-inner-wrap{
      max-width: 560px!important; max-height: 600px!important;
      border-radius: 5px;
      .block{margin-bottom: 0!important; box-shadow: none; padding: 3px;}
      .label{
        color: #333;
        font-weight: 400!important;
        font-size: 12px;
      }
      .form-create-account .fieldset{
        margin: 0 -10px;
        > .field{width: 50%; .inline-block(); vertical-align: top; padding: 0 10px; margin-bottom: 30px;}
        .choice.newsletter{padding-top: 30px;}
      }
    }
    .fieldset > .legend{margin: 0 0 20px!important;}
    .modal-footer{padding-top: 0; border: 0!important;}
    .modal-content .modal-footer{padding: 0; border: 0;}
    #signup-mpdal{width: 100%!important;}
    #signin-mpdal{width: 100%!important;}
    .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account{
      width: 100%;
      min-width: 100%;
    }
    .choice.newsletter{
      .checkbox{.rtl-float-left(); .rtl-margin-right(4px);}
    }
    .actions-toolbar{
      .action.back{display: none;}
    }
  }
  .page-wrapper .ves-vertical{
    li.level0:hover{background: #f7f7f7;}
    .dropdown-menu{background: #f7f7f7;}
  }
  .product-block .product-item-info{
    .product-item-actions{
      .opacity(0); visibility: hidden;
      .transition(all 0.3s ease-out 0s);
    }
    &:hover{
      .product-item-actions{.opacity(1); visibility: visible;}
    }
  }
  .page-wrapper .breadcrumbs{margin-bottom: 80px;}
  .minicart-wrapper .block-minicart{.rtl-right(-22px); top: 5px;}
  .block{
    &.big-title{
      .block-title{
        *{font-size: 42px; line-height: 45px;}
      }
    }
    &.medium-title{
      .block-title *{
        font-size: 35px;
      }
    }
  }
  .ltr{
    .page-header .header3{
      .header-links-dropdown{right: -25px; left: auto;}
      ul.dropdown:before{right: 10px!important; left: auto!important;}
      ul.dropdown:after{right: 9px!important; left: auto!important;}
    }
  }
}

& when (@media-common = true) {
  @media (min-width: 768px){
    .product.info.detailed{
      position: relative;
      text-align: center;
      .product.data.items{
        > .item.title{
          .inline-block();
          > .switch{height: 50px;}
        }
        .item.content{.rtl-text-align-left(); border-top: 1px solid @border-color__base;}
      }
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px){
    .page-wrapper .ves-vertical li.level0 > a{padding: 7px 0;}
    .page-wrapper .block.newsletter .block-title{border: 0!important;}
  }
  @media (max-width: 1199px){
    .rtl{overflow-x: hidden; position: relative; height: auto;}
    .rtl body{position: relative;}
    .page-main, .container, .page-wrapper > .page-bottom{width: 100%!important; max-width: 100%!important;}
    .rtl .sidebar .product-items .product-item-info .product-item-photo{margin: 0 0 10px 10px;}
  }
}

// Tablet portrait min-width 768px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .product.info.detailed .additional-attributes{
    > thead > tr > th, 
    > tbody > tr > th, 
    > tfoot > tr > th{
      line-height: 28px;
    }
  }
  .product-info-main{
    .rtl-float-right();
  }
  .product.media{.rtl-float-left(); margin-top: 0; margin-bottom: 50px;}
  .checkout-index-index{
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address{max-width: 100%;}
    .opc-wrapper{
      .form-login{
        .field.required{.rtl-float-left(); width: 50%; .rtl-margin-right(20px);}
      }
    }
    #shipping-new-address-form{
      margin: 0 -10px;
      > div {padding: 0 10px; .inline-block(); width: 50%; vertical-align: top;}
      .street.required{
        padding: 0 10px;
        > .control{
          margin: 0 -10px;
          > div{
            .inline-block(); 
            width: 50%;
            .rtl-float-left();
            padding: 0 10px;
            margin: 0;
          }
        }
      }
    }
  }
  .page-layout-1column{
      .product-info-main{width: 50%!important;}
      .product.media{width: 48%!important;}
  }
  .sidebar .block.filter .filter-options .filter-options-content{display: block!important;}
  .sidebar .block.filter .filter-options .filter-options-title:after{content: "";}
  .col-success > .col-inner{padding: 18% 0 0;}
  .rtl{
    .product.data.items > .item.title{float: right; margin: 0 0 0 -1px;}
    .product.data.items > .item.content{float: left; margin-right: -100%; margin-left: 0;}
    .popup-authentication{
      .block[class] + .block::before{right: -18px; left: auto;}
      .block[class] + .block{padding-left: 0; padding-right: 40px; border-left: 0; border-right: 1px solid #c1c1c1;}
    }
  }
}

& when (@media-common = true) {
  // Tablet portrait max-width 991px
  @media (max-width: @screen-sm-max) {
    .page-header{
      #ves-header{
        height: 60px; padding: 10px 0;
        .ui-widget-content.mage-dropdown-dialog{
          left: 0;
          .rtl &{left: auto; right: 20px;}
          ul.dropdown{.rtl-left(-20px);}
        }
        .nav-sections .switcher{font-weight: 600; font-size: 13px; padding: 15px 20px;}
      }
      .page-topbar{min-height: 0!important; height: 0; padding: 0!important; border: 0!important;}
      .nav-toggle{
        top: 3px;
        .rtl-left(8px);
        &::before{font-size: 25px;}
      }
      .topright{margin: 0!important;}
      .header-content{
        padding: 0!important;
        min-height: auto!important;
        border: 0!important;
      }
      .logo{
        height: 40px;
        line-height: 35px!important;
        position: absolute;
        z-index: 13;
        .rtl-padding-left(30px);
        .rtl-left(15px);
        img{max-height: 40px;}
      }
      .minicart-warp{
        position: absolute;
        .rtl-right(5px);
        top: 3px;
        margin: 0!important;
        .minicart-wrapper{
          .action.showcart{
            min-width: 36px;
            line-height: 36px;
            padding: 0!important;
            text-align: center;
            .label{display: none;}
            i{border: 0;}
            .counter-number{
              min-width: 16px;
              .rtl-left(25px);
              &::before{display: none;}
            }
          }
          .block-minicart{.rtl-right(-10px);}
        }
        ._block-content-loading{position: static;}
      }
    }
    .navbar-fixed-top{
      position: static!important;
      #ves-header{
        position: static!important;
      }
    }
    .ves-overlay{display: none!important;}
    .nav-before-open .page-header.navbar-fixed-top{position: inherit!important;}
    .nav-sections .switcher-trigger strong::after{display: none!important;}
    .nav-sections .switcher:last-child{border-color: rgba(255, 255, 255, 0.1)!important;}
    .ves-menutop{
      margin: 0!important;
      .ves-megamenu{background: transparent!important;}
      .ves-megamenu li.level0 > a{color: @white!important;}
      .ves-megamenu .dropdown-menu{transition: none!important;}
    }
    .page-wrapper .ves-vertical{
      li.level0 > a{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
      li.level0 > a i{line-height: 45px;}
      li.level0 > a .opener{.rtl-right(0);}
    }
    .checkout-index-index{
      .minicart-items .product-item-details{padding: 0!important;}
    }
    .search-wrapper{
      position: absolute;
      .rtl-right(55px);
      z-index: 98; 
      top: 5px;
      cursor: pointer;
      min-height: auto;
      width: 30px!important;
      height: 30px!important;
      text-align: center;
      line-height: 30px;
      margin: 0!important;
      .dropdown-toggle{
        font-size: 18px;
        color: #353535;
      }
      .search-content{
        position: absolute;
        width: 280px;
        .rtl-right(-44px);
        display: none;
      }
      &:hover{
        .search-content{display: block;}
      }
    }
    .ves-menutop{
      .ves-megamenu .dropdown-menu{padding: 10px 20px;}
      .nav-sections-item-title{
        background: @white;
        height: auto;
        padding: 0;
        position: relative;
        .rtl-border-right(#ddd);
        cursor: pointer;
        width: 33.333%;
        &::before{
          font-family: @font-icon-family;
          font-size: 18px;
          line-height: 52px;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
          color: #222;
        }
        &.menu::before{content: "\f0c9";}
        &.menu2::before{content: "\f00b";}
        &.account::before{content: "\f007";}
        &.setting{
          border-right: 0;
          &::before{content: "\f013";}
        }
        a{.rtl-float-left(); padding: 15px 0; width: 100%; min-height: 50px; text-indent: -9999px;}
        &.active{
          background: transparent; border-bottom: 1px solid transparent;
          &::before{color: @white;}
        }
      }
      .section-item-content{
        float: left; width: 100%;
        .header-links li{line-height: 45px;}
      }
      .nav-sections{
        background: #222;
        z-index: 9999!important;
        .rtl-text-align-left();
        .header-links .header-links-options{width: 100%;}
        .header-links .action.toggle{display: none;}
        .header-links, .setting-links, .switcher{
          background: none;
          margin: 0!important;
          border: 0;
          *{color: @white;}
          ul{
            margin: 0; padding: 0 10px;
            li{border-color: rgba(255, 255, 255, 0.1)!important; .rtl-padding-left(5px);}
          }
        }
        #switcher-currency, #switcher-language{
          .switcher-dropdown a{color: #222;}
        }
        #switcher-currency{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
      }
    }
    .page-wrapper .nav-sections{
      width: 300px;
      left: -100%;
    }
    .nav-open .nav-sections{left:0!important; z-index: 999!important;}
    .nav-open .page-wrapper{left: 300px!important;}
    .ves-overlay{display:none!important;}
    .search_box .search .ui-autocomplete{
      top: 40px!important; width: 100%!important; 
      min-width: 100%!important;
      .image{width: 30%;}
      .info{
        width: 70%;
        .review{display: none;}
      }
    }
    .product-block .quick-view{display: none!important;}
    .fancybox-desktop{
      width: 88%!important;
      .fancybox-inner{width: 100%!important;}
    }
    .rtl{
      .page-wrapper .minicart-wrapper .block-minicart{left: -54px;}
      .minicart-wrapper .block-minicart{
        &::before, &::after{display: none;}
      }
      .sidebar .block.filter .filter-options .filter-options-title:after{left: 0; right: auto;}
      &.nav-open .nav-sections {right:0!important;}
      &.nav-before-open.nav-open {right:0!important;}
      .page-wrapper .nav-sections {right: -100%; transition:right 0.3s ease 0s !important;}
      &.nav-open .page-wrapper{right: 300px!important; left: auto!important;}
    }
  }

  @media (min-width: 768px) and (max-width: @screen-sm-max) {
    .block.widget .product-item-info{
      height: auto!important;
    }
    .big-title .block-title *{font-size: 40px; font-weight: 500;}
    .ves-megamenu li.level0 > a, .navigation .level0 > .level-top{padding: 0 10px!important;}
    .product-info-main{
      .product-social-links{margin-top: 10px;}
    }
    .grid.products-grid .product-item{width: 50%;}
    .page-product-bundle .bundle-actions{
      #bundle-slide{font-size: @font-size-base!important;}
    }
    .page-layout-1column-fullwidth{
      .product.media{width: 48%!important;}
      .product-info-main{width: 50%!important;}
    }
    .modals-wrapper{
      .modal-popup.modal-slide._inner-scroll._show{overflow-y: visible;}
      .modal-popup.modal-slide{.rtl-left(0);}
      .modal-popup._inner-scroll .modal-inner-wrap{max-height: 90%;}
      .modal-popup.modal-slide._show .modal-inner-wrap{transform: translateY(0px);}
    }
    .list.products-list {
      .product-item-photo, .product-item-details{display: unset;}
      .product-block{
        .product-image, .product-item-details{.rtl-float-left(); max-width: 50%;}
      }
    }
    .ves-vertical.menu-click .nav-item{
      .opener{top: 4px;}
      > a{font-size: 11px;}
      &.level0 > a{padding: 0!important;} 
    }
    .ves-vertical.menu-click .nav-item.level0 > .dropdown-menu{padding: 0 10px 15px;}
    .sidebar{
      .block .block-title *{
        font-size: 20px!important; letter-spacing: 0;
      }
      .owl-carousel .owl-nav{top: -66px;}
    }
    .sidebar .productlist-widget.product-style1 .product-block .product-item-info .product-image{margin-right: 5px; margin-left: 0;}
    .rtl .sidebar .productlist-widget.product-style1 .product-block .product-item-info .product-image{margin-left: 5px; margin-right: 0;}
    .sidebar{
      .block-wishlist{
        .product-items .product-item-details{.rtl-float-left(); width: 100%;}
      }
      .block.filter .count{display: none;}
    }
    .page-layout-1column .filter.block{.rtl-padding-right(100px);}
    .page-layout-2columns-left, .page-layout-2columns-right{
      .product-info-main{
        .product-info-stock-sku{float: none!important;}
        .box-tocart{
          margin-bottom: 5px;
          width: 100%;
          .actions{display: block; width: 100%;}
          .add-to-cart{margin-left: 0;}
        }
      }
    }
    .vesblog-category-view .post-meta, .ves-bloglatest .post-meta{min-height: 284px;}
    .product-info-main .product-addto-links{.inline-block(); width: 100%;}
  }

  // Mobile responsive max-width 768px
  @media (max-width: 767px) {
    .product-info-main .product-add-form, .product-info-main .product-social-links{margin-bottom: 5px;}
    .product-info-main .box-tocart, .bundle-options-container .box-tocart, .product-add-form .box-tocart{
      float: none!important;
      .action.tocart{.rtl-margin-left(8px);}
    }
    .list.products-list .product-block{
      .product-image{margin-bottom: 10px;}
      .product-item-details{display: unset; padding: 15px; .rtl-float-left();}
      .product-image-container, .product-image-photo{width: 100%!important;}
    }
    .product-block .product-item-actions .actions-secondary{display: none;}
    .catalog-category-view{
      .page-wrapper .columns{display: flex;}
    }
    .page-with-filter .columns .sidebar-main{order: 0;}
    .grid.products-grid .product-item{width: 100%;}
    .product-block div[class^="swatch-opt-"]{bottom: 50px;}
    .page-layout-1column{
      .fotorama__nav{height: auto!important;}
    }
    .category-view .block-info .content{display: none;}
    .block-image a img{width: 100%;}
    .block.widget .product-item-info{height: auto!important;}
    
    .product.info.detailed .data > .item.content{margin-top: 0!important;}
    .cart-container .cart-summary{width: 100%;}
    .block-wishlist-management .wishlist-select .wishlist-name::after, .block-collapsible-nav .title::after{top: 8px;}
    .account .page-main, .cms-privacy-policy .page-main{padding-top: 0;}
    .wishlist-index-index{
      .grid.products-grid .product-item{width: 100%;}
    }

    .checkout-index-index #checkout{
        .opc-wrapper{width: 100%;}
        .opc-estimated-wrapper{position: relative;}
      .minicart-wrapper{top: 15px; .rtl-right(0); padding: 0;}
      .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{background: none;}
      .checkout-payment-method .payment-method._active .payment-method-content{.rtl-float-left(); width: 100%;}
      .custom-slide .modal-inner-wrap{background: @white;}
      .action-remind{margin: 0 5px;}
    }
    .block.filter{
      margin-bottom: 30px;
      .block-title{
        position: relative;
        strong{display: block;}
        &::after{
          content: "+";
          position: absolute;
          .rtl-right(25px);
          top: 6px;
          font-size: 20px;
          width: 0;
          height: 0;
        }
      }
      .filter-current{margin-bottom: 10px;}
      .block-content.filter-content{padding: 0;}
      .filter-options{display: none; top: 0; position: relative;}
      &.active{
        .block-title:after{content: "-";}
        .filter-options{display: block; padding: 15px;}
      }
    }
    .page-layout-1column, .page-layout-1column-fullwidth{
      .block.filter.active .filter-options{padding: 0; overflow: hidden;}
    }
    
    .ves-vertical.menu-click .nav-item .opener{top: 0;}
    .copyright{
      text-align: center;
      .social{float: none!important;}
    }
    .sidebar .block.filter .filter-options .filter-options-content li > a::before{top: -1px;}
    .cms-page-error{
      h1{font-size: 120px;}
      h2{font-size: 26px;}
    }
    
    .minicart-items .item-qty{.rtl-margin-right(3px);}
    .checkout-cart-index{
      #block-shipping{
        padding: 5px 15px;
      }
      .cart-totals .totals tbody > tr:not(:last-child) > td:last-child{
        border-top: 1px solid #ddd;
      }
      .cart-container .cart.table-wrapper .item .col.item{margin-bottom: 30px;}
    }
    .checkout-index-index{
      .minicart-wrapper .action.showcart::before{
        font-size: 28px;
      }
    }
    .account{
      .block-collapsible-nav{
        top: 0;
        .title::after{
          font-size: 14px;
        }
      }
    }
    .sidebar{
      .rtl-float-left();
      width: 100%;
    }
    .sidebar .block.filter .filter-current{
      border-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .filter-actions{margin: 0;}
    .blog-posts.blog-v2{
      .post-image, .post-meta{max-width: 100%;}
      .post-meta{margin-top: 20px;}
    }
    #multiship-addresses-table{
      tr{border-bottom: 1px solid @border-color__base;}
    }
    .product.info.detailed .data .title{
      > .switch{
        margin-right: 0;
        &::after{
          content: "\f107";
          font-family: @font-icon-family;
          .rtl-float-right();
        }
      }
      &.active{
        > .switch:after{content: "\f106";}
      }
    }
    .block.newsletter{
      .label, .form.subscribe{width: 100%; padding: 0!important;}
      .form.subscribe{margin: 10px 0 0!important;}
    }
    .column.main{
    > .ves-container{
      margin-bottom: 30px!important;
      &.no-margin{margin: 0!important;}
    }
  }
  .product-add-form{
    .col.qty:before{.rtl-float-left(); margin-top: 10px;}
  }
  .page-product-bundle .bundle-options-container{padding: 0;}
  .bundle-options-wrapper .field.qty .input-text.qty{width: 60px;}
  }
  @media (max-width: 480px) { 
    .block-customer-login{
      .actions-toolbar{.rtl-float-left(); width: 100%;}
    }
    .products-grid{
      .product-item{width: 100%; text-align: center;}
      .product-block .product-item-info{.inline-block();}
    }
    .gift-options .actions-toolbar .action-update{font-size: 14px; padding: 10px;}
    .page-layout-1column .filter{
      .filter-current .action.remove{
        right: 0; left: auto;
        .rtl &{left: 0; right: auto;}
      }
      .filter-current{padding: 12px;}
      .block-actions.filter-actions{padding: 10px;}
    }
    .product-block .product-item-info .actions-primary{bottom: 0;}
    .page-wrapper .toolbar{
      .limiter label, .sorter label{display: none}
    }
    .multicheckout .actions-toolbar .action{font-size: @font-size-base;}
    .multicheckout .block-title strong, .multicheckout .block-content .title strong{font-size: 15px!important;}
    .page-product-downloadable{
      .product-options-bottom .product-addto-links{margin-top: 10px;}
    }
    .widget-html h2{font-size: 28px!important;}
    .block.related .block-actions{
      position: static;
      margin: -20px 0 20px;
    }
    .checkout-onepage-success{
      #registration .action.primary{width: 100%;}
    }
  }

  /* Fix For Iphone 5 */ 
  @media (max-width: 330px) {
    .page-wrapper .nav-sections{width: 280px;}
    .nav-open .page-wrapper{left: 280px!important;}
    .rtl.nav-open .page-wrapper{right: 280px!important; left: auto!important;}
    .cart.table-wrapper .action{.rtl-margin-right(14px);}
    .rtl .cart.table-wrapper .action{margin-left: 0!important;}
    .block-other .block-title a span{font-size: 16px;}
    .order-review-wrapper{
      .table:not(.cart):not(.totals) tfoot > tr:first-child th, .table:not(.cart):not(.totals) tfoot > tr:first-child td{.rtl-float-left();}
    }
    .catalog-product-view{
      .field.qty .control, .box-tocart .add-to-cart{margin-left: 0!important; margin-top: 10px;}
      .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions{.inline-block(); width: 100%;}
    }
    .product-info-main .product-info-stock-sku{float: none!important; margin-top: 5px;}
  }
  .block-authentication .action.action-register{font-size: 14px;}
}

/* Safari and Chrome fix*/ 
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .toolbar .sorter-options, .toolbar .limiter-options{line-height: 29px;}
  ::i-block-chrome, .product.media{
    .fotorama__stage__frame .fotorama__img{
      position: relative;
    }
  }
  ::i-block-chrome, .cart.table-wrapper .items{width: 100%;}
}

/* IE10+ fix*/ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper .toolbar .sorter::after, .page-wrapper .toolbar .control::after{display: none;}
  .page-wrapper .columns .widget-carousel .text-bg{background: none;}
}

& when (@media-common = true) {
  /* RTL Fix */
  .rtl{
      .pull-left{float: right!important;}
      .pull-right{float: left!important;}

      [class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"]{float: right;}
      .nav-mobile li .opener{right: auto; left: 0;}
      .field-tooltip{left: 0;}
      .minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container{float: right;}
      .opc-block-summary .product-item .subtotal{text-align: left;}
      .opc-block-summary .product-item .product-item-name-block{text-align: right;}
      .cart.table-wrapper .product-item-photo{padding-left: 20px; padding-right: 0;}
      .cart.table-wrapper .actions-toolbar > .action-edit, .cart.table-wrapper .actions-toolbar > .action-delete{left: 36px; right: auto;}
      .cart.table-wrapper .actions-toolbar > .action-delete{left: 0; right: auto;}
      .minicart-wrapper{
          .block-minicart{
              left: -15px; 
              right: auto;
              &::before{left: 26px; right: auto;}
              &::after{left: 25px; right: auto;}
          }
          .product .actions{float: left;}
      }
      .minicart-wrapper .ui-widget-content.mage-dropdown-dialog{left: auto; right: 100%;}
      .minicart-items{
          .product-item-details{padding-left: 0; padding-right: 88px;}
          .product > .product-item-photo, .product > .product-image-container{float: right;}
      }
      .ves-vertical .dropdown > .dropdown-menu{
        right: 100%!important;
        left: auto!important; 
      }
      .testimonial-widget .tab-content::before{
        content: "\f10e";
      }
      .ves-megamenu .dropdown.submenu-alignright > .dropdown-menu{left: auto; right: 0;}
      .ves-megamenu .dropdown.submenu-alignleft > .dropdown-menu{right: auto; left: 0;}
      .ves-megamenu .dropdown-submenu .dropdown-menu{margin-left: 0; margin-right: 20px;}
      .cart-discount{
        float: right!important;
        padding-left: 4%;
        padding-right: 0;
      }
      .checkout-payment-method .payment-methods .actions-toolbar .primary{float: left!important;}
      .sidebar .swatch-option, .multicheckout .block-shipping .box-shipping-address{float: right;}
      .block-customer-login{
        .actions-toolbar{
          .primary{margin-right: 0!important;}
          .secondary{float: right;}
        }
      }
      .product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty{
        padding-left: 15px;
        padding-right: 0;
      }
      .field-tooltip .field-tooltip-action{float: left;}
      .opc-block-shipping-information .shipping-information-title .action-edit{left: 0; right: auto;}
      .checkout-success .actions-toolbar .primary, .cart.table-wrapper .action-gift{float: right;}
      .abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .cart-gift-item, .cart-container .form-cart{
        float: right;
      }
      .cart-container .cart-summary{float: left!important;}
      .breadcrumbs .item:not(:last-child)::after{content: "\f104"; font-family: @font-icon-family;}
      .password-strength-meter::before{right: 0; left: auto;}
      [class*=multishipping-checkout-]{
        .actions-toolbar .primary{float: right; margin-right: 0; margin-left: 15px;}
        .table:not(.cart):not(.totals) tfoot .mark{text-align: left;}
        dd{margin-right: 0;}
      }
      .minicart-items{
        .product .toggle{padding: 0;}
        .product.options.active dd{margin-right: 0;}
      }
      .search-autocomplete ul li{
        text-align: right;
        padding: 5px 10px;
        .amount{left: 7px; right: auto;}
      }
      .submenu-left .dropdown-menu {
        left: auto;
        right: 0;
    }
    .ves-megamenu .dropdown-menu{
      .content-wrap .megamenu-sidebar, .content-wrap .megamenu-content{float: right;}
    }
    .ves-megamenu.menu-click .nav-item{text-align: right;}
    .catalog-product-view .share .addthis_toolbox > a, .page-product-downloadable .product-options-wrapper{float: right;}
    .field.downloads .sample.link, .page-product-downloadable .product-options-bottom{float: left;}
    .page-wrapper .products.wrapper ~ .toolbar .pages .action.next{transform: rotate(180deg);}
    .setting-links{
      ul.dropdown{
        right: -80px;
      }
    }
    .header-links{
      ul.dropdown{
        &::before{right: 10px!important; left: auto;}
        &::after{right: 9px!important; left: auto;}
      }
    }
    .ves-menutop .ves-megamenu .dropdown-menu .caret{left: -12px; right: auto;}
    .ves-megamenu.menu-hover .nav-item.level1 .dropdown-menu{right: 70%;}
    .product-list-categories strong{float: right;}
    .page-wrapper .swatch-option{float: right;}
  }
  .block-compare{
    .actions-toolbar > .secondary, .actions-toolbar .primary{float: right;}
    .actions-toolbar .primary .action{margin: 0 0 0 15px;}
  }
}
