// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme widgets fallback
//  _____________________________________________

//  Magento themes widgets fallback file. Should be EMPTY.
// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme widgets fallback
//  _____________________________________________

//  Magento themes widgets fallback file. Should be EMPTY.
// *****************************************************
//  * @package Venus Theme Framework for Magento 2.0.x
//  * @version 1.0
//  * @author http://www.venustheme.com
//  * @copyright Copyright (C) Augus 2015 VenusThemes.com <@email:venusthemes@gmail.com>.All rights reserved.
//  * @license   GNU General Public License version 1
// ******************************************************
& when (@media-common = true) {
.block {
	margin-bottom: 30px;
	&.vesbuilder-block{border-top: 0;}
	&.widget{.rtl-float-left(); width: 100%;}
	.block-title {
		padding-bottom: 5px;
		margin-bottom: 14px;
		*{
			font-family: @font-heading-family;
			font-size: 25px;
			font-weight: 700;
			color: #333;
			margin: 0;
			letter-spacing: -0.5px;
		}
		.action.edit{
			span{
				font-size: @font-size-base;
			    .rtl-margin-left(10px);
			    text-transform: none;
			    color: #888;
			    font-weight: 600;
			}
		}
	} 
	.block-content{
		padding: 15px 0;
	}
	&.title-nomargin{
		.block-title{margin: 0;}
	}
	&.title-noborder{
		strong{border: 0;}
	}
	&.title-white{
		.block-title *{color: @white;}
	}
	&.hidden-content{
		.block-content{display: none;}
	}
	&.content-nopadding{
		.block-content{padding: 0;}
	}
	&-success{}
	&-theme{}
	&-primary{}
	&-info{}
	&-warning{
	}
	&.widget-carousel {
		.block-content {
			padding:0;
		}
	}
}
.ves-widget{
	.block-title{
		background: url('../images/title-bg.png') top center no-repeat;
		text-align: center;
		padding-top: 20px;
	}
	.pretext-html{
		text-align: center;
		margin-top: -20px;
		color: #999;
	}
	&.title-left{
		.block-title{
			.rtl-text-align-left();
			background-position: top left;
		}
	}
}
.vesbuilder-block{background: none;}
.title-center{
	.block-title{text-align: center;}
}

.block.vesbuilder-block{
	margin: 0;
	> .block-content{padding: 0;}
}

body .page-wrapper .block-search{
	background: none;
	width: 100%;
	padding: 0!important;
	margin-top: 12px;
	z-index: 6;
	.block-content{padding: 0;}
	.action.search{
		background: #f7f7f7;
		top: 0;
		.rtl-right(0);
		.size(44px, 40px);
		.opacity(1);
		&::before{
			line-height: 28px;
			color: #1e1e1e;
			font-size: 18px;
		}
	}
	input{
		padding: 0 20px!important;
		position: static!important;
		border: 0;
		box-shadow: none!important;
	}
	input::-moz-placeholder{color: #666!important;}
	.control {
	    border-top: 0!important;
	    margin: 0!important;
	    padding: 0!important;
	}
	label span{display: none;}
	.label.active + .control input{position: static!important;}
	.search-autocomplete{color: #666;}
}

.search-wrapper{
	position: relative;
	.icon-search{
		background: url('../images/icon_search.png') center no-repeat;
		.size(25px, 25px);
	}
	.dropdown-toggle{
		padding: 0 8px;
		margin-top: 2px;
		font-size: 13px;
    }
    .search-content{
      display: none;
      .rtl-right(0);
      position: absolute;
      width: 285px;
    }
    &:hover{
      .search-content{display: block;}
    }
}

/* Style For Minicart */
.minicart-wrapper{
	.block-minicart{
		font-size: @font-size-base;
		font-weight: 400;
		.block-content{padding: 0;}
		.block-content > .actions > .primary .action.primary{font-size: @font-size-base;}
		.minicart-items .product-item-details .price{color: #222;}
		.amount .price-wrapper:first-child .price{color: @black; font-weight: 600;}
	}
	.ui-widget-content.mage-dropdown-dialog{
		left: auto;
		right: 0;
	}
	.minicart-items-wrapper{max-height: 410px;}
	.minicart-items{
		.product > .toggle::after{
			content: "\f107";
			font-family: @font-icon-family;
		}
		.product .active > .toggle::after{content: "\f106";}
		.product.options.list{
			.values span{font-weight: bold;}
		}
	}
	.action.showcart{
		line-height: normal;
		color: #1e2a38;
        &::before{
            background: url("../images/icon_cart.png") no-repeat scroll center center;
            content: ""!important;
            .size(22px, 26px);
        }
		i{display: none;}
		.label{
			font-weight: 600; color: #353535; font-size: 18px; letter-spacing: -1px;
			.inline-block();
			vertical-align: bottom;
		}
	}
	#minicart-content-wrapper{
		line-height: normal;
		.subtitle.empty{padding: 0; font-weight: 500;}
	}
	.loader img{max-width: 20px;}
	.counter-number{
		background: @theme-color-default;
		color: @white;
		font-size: @font-size-base - 1;
	    .border-radius(20px);
	    position: absolute;
	    top: -2px;
	    .rtl-left(16px);
	    padding: 0 4px;
	    min-width: 18px;
	    height: 18px;
	    line-height: 20px;
	    text-align: center;
	}
}

.minicart-items{
	.product-item-name a{color: #666;}
}
/* End Style For Minicart */


/* Style For Slider */
.page-wrapper .columns .widget-carousel{
	overflow: hidden;
	margin: 0;
	.item-content > p{margin: 0;}
	.slider-content{
		position: absolute;
		top: 26%;
		font-size: @font-size-base;
		color: #40434c;
		&.left{left: 8%;}
		&.center{left: 0; right: 0; margin: auto;}
		&.right{right: 8%;}
		&.white *{color: @white;}
		&.black *{color: #2b2d42;}
		h2{
			font-weight: 800;
			font-size: 75px;
			margin: 0;
			line-height: 68px;
			.rtl-margin-left(-3px);
			span{color: @theme-color-default;}
		}
		h3{
			font-size: 50px;
			font-weight: 900;
			letter-spacing: -1px;
			margin: 0;
			span{color: @theme-color-default;}
		}
		h4{
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			span{color: @theme-color-default;}
		}
		p{
			margin: 0; font-size: 19px; line-height: 22px; font-weight: 300;
			span{color: @theme-color-default;}
		}
		.action.primary{
			margin-top: 30px;
			font-size: @font-size-base;
			height: 32px;
			line-height: 22px;
			letter-spacing: 1px;
			em{margin-left: 5px;}
			&.dark{
				background: #333;
				&:hover{background: @theme-color-default; color: @white;}
			}
		}
	}
	.bg{
		padding: 10px 30px;
		color: @white;
		margin-bottom: 20px;
		.inline-block();
		&.bg-dark{background: #393d40;}
	}
	.text-bg{
		background: url('../images/parttem_text.png') center repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
	.item-title{display: none;}
	.customNavigation{display: none;}
	.owl-stage-outer{margin: 0;}
	.owl-carousel .owl-nav{
		position: static;
		.rtl-right(0);
	    [class*=owl-]{
	    	text-indent: -99999px;
	    	position: absolute;
	    	top: 45%;
	    	.size(50px, 50px);
	    	line-height: 50px;
	    	display: none;
	    	&::before{
	    		position: absolute;
	    		left: 0;
	    		right: 0;
	    		margin: auto;
	    		font-family: @font-icon-family-second;
	    		font-size: 24px;
	    		text-indent: 0;
	    	}
	    }
	    .owl-prev{
	    	left: 3%;
	    	&::before{
		    	content: "\f2ff";
		    }
	    }
	    .owl-next{
	    	right: 3%;
	    	&::before{
		    	content: "\f301";
		    }
	    }
	}
	.owl-dots{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
		span{background: rgba(255, 255, 255, 0.3);}
	}
	&:hover{
		.customNavigation, .owl-nav{
		    .owl-prev, .owl-next{display: block;}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-wrapper .columns .widget-carousel{
    .slider-content{
      top: 10%!important;
      h2{font-size: 48px; line-height: 48px!important;}
    }
  }
}
@media (max-width: 991px) {
	.page-wrapper .columns .widget-carousel{
	    .slider-content{
	    	top: 10%!important;
	    	left: 10%;
	      .btn{margin-top: 10px;}
	      h2{font-size: 36px!important; line-height: 36px!important;}
	      h3{font-size: 32px!important; margin: 0!important;}
	    }
	    .owl-dots{bottom: 0;}
	}
}
@media (max-width: 767px) {
  	.page-wrapper .columns .widget-carousel{
	    .slider-content *{
	      font-size: 13px!important;
	    }
	    .slider-content{
	      .action{display: none;}
	      h2{font-size: 22px!important; line-height: 26px!important; margin: 0!important;}
	      h3{font-size: 20px!important;}
	      h3.bg{margin-bottom: 8px!important;}
	    }
	    .owl-nav {
	      .owl-prev, .owl-next{top: 33%!important;}
	    }
	    .owl-dots{display: none;}
	    .owl-carousel .owl-nav [class*=owl-]{
	      .size(30px, 30px);
	      line-height: 30px;
	    }
  	}
}

/* End Style For Slider */


/* Style For Blog */
.blog-posts{
	overflow: hidden;
	.block-title{border-bottom: 1px solid @border-color__base;}
	.post-block{
		line-height: 22px;
		.post-image{margin-bottom: 26px;}
		.post-meta{
			text-align: center;
			padding: 0 6%;
		}
	}
	.owl-carousel{
		.owl-nav{.rtl-right(10px); top: -50px;}
		.post-social{display: none;}
		.post-title{
			margin-bottom: 8px;
			h3{
				font-size: 18px;
				margin: 0;
			}
			a{
				color: #353535;
				font-weight: 600;
				line-height: 20px;
				.transition(all 0.2s ease 0s);
				&:hover{color: @theme-color-default;}
			}
		}
	}
	.post-info{
		color: #999;
		font-size: @font-size-base - 1;
		margin-bottom: 5px;
	}
	.post-date, .post-comment{
		position: relative;
		.inline-block();
		.rtl-margin-right(10px);
		&::before{
			font-family: @font-icon-family;
			.rtl-margin-right(5px);
			.rtl-float-left();
			line-height: 18px;
			color: @theme-color-default;
		}
	}
	.post-date:before{content:"\f073";}
	.post-comment:before{content:"\f0e6";}
	.ves-post.post-item{margin-bottom: 0;}
	.post-summary{
    	font-size: @font-size-base + 1;
	}
}

.vesblog-post-view{
	.comment-form{
		.below-inputs{
			text-align: center;
		}
	}
}

/* Blog Latest View */

.vesblog-latest-view, .vesblog-category-view, .vesblog-post-view{
	.sidebar-additional{display: none;}
}
/* Blog Categories View */
@media (min-width: 768px) {
	.vesblog-category-view, .vesblog-search-result{
		iframe{max-height: 430px;}
	}
	.vesblog-author-view{iframe{min-height: 164px;}}
}

.vesblog-category-view{
	.blogcat-description{margin-top: 30px;}
}

.vesblog-category-view, .ves-bloglatest, .vesblog-search-result, .vesblog-author-view{
	.ves-post.post-item{
		color: #999;
		margin-bottom: 50px;
	}
	.post-author{margin-top: 5px;}
	.post-title{
		h3{margin: 5px 0 0; line-height: 22px;}
		a{
			font-size: 18px;
			color: #353535;
			font-weight: 600;
			.transition(all 0.2s ease 0s);
			&:hover{color: @theme-color-default;}
		}
	}
	.post-image{margin-bottom: 26px;}
	.post-info{font-size: 12px;}
	.post-meta{text-align: center;}
	.post-date, .post-comment{
		position: relative;
		.inline-block();
		&::before{
			font-family: @font-icon-family;
			.rtl-margin-right(4px);
			color: @theme-color-default;
		}
	}
	.post-date{.rtl-margin-right(6px);}
	.post-date:before{content:"\f073";}
	.post-comment:before{content:"\f0e6";}
	.post-summary{
		margin-top: 10px;
		line-height: 22px;
		color: #666;
		.desc{
			position: relative;
			margin-bottom: 20px;
		}
		.read-more{
			background: @theme-color-default;
			color: @white;
			padding: 6px 20px;
			font-family: @font-body-family;
    		font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;
			.transition(all 0.2s ease 0s);
			&:hover{
				background: #353535;
			}
		}
	}
	.post-social{
		margin-top: 10px;
		li{.inline-block(); vertical-align: top;}
	}
	.postcategory-view{margin-bottom: 30px;}
	.ves-blog .blog-list .post-item{
		padding: 0;
	}
}

.blog-cats{
	.block-content{padding: 0!important; border: 1px solid @border-color__base;}
	ul{
		li{
			border-bottom: 1px solid @border-color__base;
			margin: 0;
			&:last-child{border-bottom: 0;}
			a{
				padding: 15px 5%;
				display: block;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				.transition(all 0.3s ease-in-out);
				&:hover{
					background: @theme-color-default;
					color: @white;
				}
			}
		}
	}
}

/* Blog Post View */
.vesblog-post-view{
	iframe{max-width: 100%; max-height: 430px;}
	.page-title-wrapper{
		display: none;
	}
	.post-title{
		color: @black;
		font-family: @font-heading-family;
		h3{margin: 10px 0 30px; font-size: 30px;}
	}
	.post-content-wrap .post-title{border-bottom: 1px solid @border-color__base;}
	.post-meta {
	    margin-bottom: 30px;
	    margin-top: 30px;
	    .post-date{
	    	.inline-block();
	    	font-size: 12px;
		    .rtl-padding-right(10px);
		    .rtl-margin-right(10px);
		    .rtl-border-right(#666);
		    line-height: 11px;
	    	&::before{
	    		content: "\f073 ";
	    		font-family: @font-icon-family;
	    		.rtl-margin-right(6px);
	    	}
	    }
	    .post-categories{
	    	.inline-block();
	    	font-size: 12px;
	    	&::before{
	    		content: "\f08d ";
	    		font-family: @font-icon-family;
	    		.rtl-margin-right(6px);
	    	}
	    }
	}
	.post-social{
		margin-top: 10px;
		li{.inline-block(); vertical-align: top;}
	}
	.posts-related{
		border-top: 0;
		.post-image{
		    margin-bottom: 10px;
		    max-height: 130px;
		    overflow: hidden;
		}
		.post-title a{color: #353535; font-size: 15px;}
	}
	.post-content{float: none; line-height: 24px;}
}
.sidebar{
	.blog-searchform{
		label{
			width: 100%;
			.screen-reader-text{display: none;}
		}
		input{
			background: #f1f1f1; 
			border: 0; 
			font-weight: normal;
			height: 40px;
		}
		.search-form{position: relative;}
		.search-submit{
			background: @theme-color-default;
			color: #fff;
		    height: 40px;
		    position: absolute;
		    top: 0;
		    .rtl-right(0);
		    font-size: 16px;
			&::before{
				content: "\f002";
				font-family: @font-icon-family;
			}
			span{display: none;}
			&:hover{background: #333; color: @white;}
		}
	}
	.product-items .product-item{
		.rtl-float-left();
		width: 100%;
	}
	.block-reorder .product-item-name{
		line-height: 24px;
	}
	#block-collapsible-nav{border: 1px solid @border-color__base;}
	.block-compare .action.primary, .block-wishlist .action.primary, .block-reorder .action.primary{
		font-size: @font-size-base - 1;
		letter-spacing: 0;
	}
}
.page-wrapper .blog-recentcomments{
	.block-content a{
		color: @black;
		font-family: @font-heading-family;
		font-weight: 500;
		margin-bottom: 12px;
		display: block;
		font-size: 16px;
		text-transform: none;
	}
}
.page-wrapper .blog-comments{
	input{
		background: @white;
		height: 40px;
		border-color: @border-color__base;
		border-radius: 0;
		width: 100%;
		padding: 0 15px;
	}
	textarea{background: @white; border-color: @border-color__base; padding: 15px;}
	.form-list{margin-left: -10px; margin-right: -10px;}
	.fields{.rtl-float-left(); width: 50%; padding: 0 10px;}
}
@media (min-width: 992px) and (max-width: 1025px) {
	.vesblog-author-view{iframe{min-height: 215px;}}
	.vesblog-category-view iframe, .vesblog-search-result iframe{min-height: 297px;}
}
@media (min-width: 1190px){
	.blog-posts iframe, .ves-block iframe, .ves-blog .blog-masonry iframe, .ves-blog .blog-grid iframe{min-height: 226px;}
}
@media (max-width: 991px) {
	.vesblog-category-view .post-title, .ves-bloglatest .post-title{
		min-height: 52px;
	}
}
@media (max-width: 767px) {
	.vesblog-post-view{
	    .column.main, .sidebar-additional{.rtl-float-left(); width: 100%;}
	    .column.main{
	      img{width: 100%!important; height: auto!important;}
	      iframe{max-width: 100%; width: 100%!important; height: 250px!important;}
	    }
	    .sidebar-additional{margin-top: 30px;}
	}
	.blog-posts iframe, .ves-blog iframe, .ves-blog video{height: auto;}
}
@media (max-width: 480px) {
	.vesblog-post-view .posts-related .post-image{max-height: 200px;}
	.blog-comments .g-recaptcha > div{width: auto!important;}
}
/* End Style For Blog */

.page-wrapper .swatch-option {
	height: 25px;
	min-width: 25px;
	border: 0!important;
	outline: none!important;
	&.text{
		font-size: @font-size-base - 2;
		color: @black;
		font-weight: 600;
		line-height: 22px;
		padding: 2px;
		min-width: 26px;
	}
}

.block.filter{
	.filter-subtitle{display: none!important;}
}
.sidebar{
	.block{
		.rtl-float-left();
		width: 100%;
		.block-title{
			margin-bottom: 0;
			.rtl-text-align-left();
			background: none;
		}
		&.block-static-block{
			border: 0;
			p{margin: 0;}
		}
		&.ves-menu{
			.block-title{margin-bottom: 0;}
		}
		&.filter{
			.filter-current{
				border-bottom: 1px solid @border-color__base;
				padding-bottom: 10px;
				margin-bottom: 10px;
				.item{padding-left: 0; padding-right: 17px;}
				.action.remove{
					left: auto; right: -2px;
					&::before{font-size: 14px!important;}
				}
			}
			.filter-current + .filter-actions{
				padding-bottom: 10px;
			} 
			.filter-subtitle{display: none;}
			.filter-options{
				position: relative;
				overflow: hidden;
				top: 0;
				&.active {
					border-top:1px solid @border-color__base;
					border-bottom: 1px solid @border-color__base;
					.transition(opacity 0.35s ease 0s);
					&:first-child {
						border-top:none;
					}
					&:last-child {
						border-bottom:none;
					}
					.filter-options-title:after{
						content: "-";
					}
				}
				.filter-options-title{
					font-size: 15px;
					color: #353535;
					cursor: pointer;
					position: relative;
					padding: 0;
					text-transform: none;
					&:after{
						position: absolute;
						font-size: 11px!important;
						.size(20px, 22px);
						right: 0;
						top: 2px;
						font-weight: 300;
						font-size: 20px;
						color: #999;
					}
				}
				.filter-options-item{
					border: 0!important;
				}
				.filter-options-item.active{
					.filter-options-title{color: @theme-color-default;}
				}
				.filter-options-content{
					padding: 10px 0;
					.item{margin: 0;}
					li{padding: 10px 0;}
					li + li{
						border-top: 1px solid @border-color__base;
					}
					a{
						background: none!important;
						margin: 0;
					}
					.count, .swatch-option{color: #666;}
					li > a{
						.rtl-padding-left(18px);
						position: relative;
						color: #333;
						.count{
							.rtl-float-right();
							font-size: @font-size-base - 2;
						}
						&::before{
							content: "\f096";
							font-family: @font-icon-family;
							font-size: @font-size-base;
							color: #ddd;
							position: absolute;
							.rtl-left(1px);
							top: 0;
						}
						&:hover, &:active, &:focus{
							color: @theme-color-default;
							&::after{
								content: "\f00c";
								font-family: @font-icon-family;
								position: absolute;
								.rtl-left(1px);
								top: -1px;
							}
						}
					}
				}
				.swatch-option{
					&.text{
						.rtl-float-left();
					}
				}
			}
		}
	}
	.block-compare, .block-wishlist, .block-reorder{
		.action.primary{padding: 5px 10px; .border-radius(20px);}
		.counter{display: none;}
		.product-item-photo{.rtl-float-left();}
		.product-item-actions{clear: none!important;}
		.product-item-name{.rtl-padding-right(20px);}
	}
	.block-compare{
		.block-title *{font-size: 25px; font-weight: 700;}
		.empty{
			padding: 15px 0;
		}
	}
	.block-reorder{
		.product-item .field.item{display: block;}
		.control{position: absolute; .rtl-right(0);}
	}
	.product-items{
		.product-item-name{margin-right: 0;}
	}
	.action.delete{.rtl-right(0);}
	.productlist-widget{
		.product-items .product-item-details{margin: 0;}
		.product-items .product-item-info .product-item-photo{position: relative; margin: 0;}
	}
}

/* Style For Widget Image */
.widget-images{
	position: relative;
	border-top: 0;
	.block-content{padding: 0!important;}
	&.lookbook-image{
		.block-content{.inline-block();}
	}
	&.a-center{
		.image-item .img-animation{float: none!important;}
	}
	.img-animation {
		overflow: hidden;
		position: relative;
		.rtl-float-left();
		max-width: 100%;
		&:before {   
			position: absolute;
			top: 0;
			left: -100%;
			z-index: 2;
			display: block;
			content: ''; 
			width: 50%;
			height: 100%;
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
		&:hover{
			&:before {	
				-webkit-animation: shine 1.1s;
				animation: shine 1.1s;
			}
		}
	}
	.image-description{
		float: left;
		width: 100%;
		h4{
			color: #353535; font-weight: 600;
    		font-size: 16px;
    		margin-top: 20px;
    	}
	}
	&.widget-images-v1{
		.image-description{
			color: @white;
			padding: 0 8%;
			position: absolute;
			bottom: 6%;
			left: 0;
			width: 100%;
			h3{
				font-size: 35px;
				font-weight: 700;
				margin: 0;
			}
			.learn-more{color: @white;}
		}
	}
	&.widget-images-v2{
		border: 1px solid @border-color__base;
		.rtl-padding-left(8%);
		img{width: auto;}
		.image-item .img-animation{width: auto;}
		.image-description {
			width: auto;
			font-weight: 700;
			padding-top: 20px;
    		padding-left: 20px;
    		padding-bottom: 20px;
			h4{margin-top: 0; font-weight: 700; letter-spacing: 0;}
			.btn{
				background: none;
				border: 1px solid #999; .border-radius(30px);
				padding: 2px 10px;
    			font-weight: 700;
    			font-size: 11px;
			}
		}
	}
	&.widget-images-v3{
		background: @white;
		border: 1px solid @border-color__base;
		cursor: pointer;
		.transition(all 0.2s ease 0s);
		&:hover{
			box-shadow: 0px 3px 10px #ddd;
		}
		.image-description{
			padding: 0 20px 10px;
			font-size: @font-size-base + 1;
			line-height: 24px;
			margin-top: 20px;
			span{color: #333; font-weight: 500; margin: 5px 0 15px; display: block;}
		}
		h4{
			background: @theme-color-default;
		    color: @white;
		    .inline-block();
		    .rtl-margin-left(-26px);
		    margin-top: 0;
		    padding: 8px 25px;
		    font-size: 15px;
		    font-weight: 500;
		    position: relative;
		    &::before{
		    	content: "";
		    	border-right: 6px solid #a97d1c;
		    	border-left: 6px solid transparent;
		    	border-bottom: 6px solid transparent;
		    	position: absolute;
		    	.rtl-left(-6px);
		    	bottom: -6px;
		    	.rtl &{
		    		border-left: 6px solid #a97d1c;
		    		border-right: 6px solid transparent;
		    	}
		    }
		}
		.social{
			margin-top: 15px;
			padding-top: 12px;
			border-top: 1px solid @border-color__base;
			li a{
				margin: 0 3px;
			}
		}
	}
	&.widget-images-v4{
		.image-description{font-size: @font-size-base + 1; line-height: 24px;}
	}
	&.no-effect{
		.image-item .img-animation::before{display: none;}
	}
}
@media (min-width: 992px) {
.widget-images-v2.item-center{border-left: 0; border-right: 0;}
}
@media (max-width: 1199px) {
	.widget-images.widget-images-v2 .image-content{top: 10%;}
}
@media (max-width: 480px) {
	.widget-images{
	    .image-item .img-animation, img{width: 100%;}
	    &.widget-images-v2 .image-content{
	    	bottom: 20px!important;
	    	h3{font-size: 22px;}
	    }
	}
}
/* End Style For Widget Image */

.social{
	margin: 0;
    li{
    	margin: 0;
        .inline-block();
        h4{font-size: @font-size-base; font-weight: 300; color: @white;}
        a{
        	background: #222;
            .size(25px, 25px);
            .border-radius(50%);
            line-height: 28px;
            color: @white!important;
            .inline-block();
            .rtl-margin-right(5px);
            text-align: center;
            em{.transition(all 0.4s ease 0s);}
            &:hover{
                em{.rotate(360deg);}
            }
        }
        &.social-facebook a{background: #3c5e9e;}
        &.social-pin a{background: #d22129;}
        &.social-twitter a{background: #01b3f9;}
        &.social-google a{background: #e14a37;}
        &.social-youtube a{background: #c20000;}
        &.social-instagram a{background: #e5298a;}
        &.social-tumblr a{background: #38526d;}
    }
}

/* Style For Ourservice */
.ourservice-block{
	background: @white;
	line-height: 20px;
	padding: 22px 11% 20px;
	a{
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	}
	p{margin-bottom: 0;}
	h4{
		color: #353535; 
		margin: 20px 0;
		font-size: 17px;
		font-weight: 600;
	}
	&:hover{
		a{
			-webkit-animation-name: hvr-wobble-horizontal;
		  animation-name: hvr-wobble-horizontal;
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-timing-function: ease-in-out;
		  animation-timing-function: ease-in-out;
		  -webkit-animation-iteration-count: 1;
		  animation-iteration-count: 1;
		}
	}
}

@media (min-width: 992px) {
	.ourservice-block{
		min-height: 250px;
	}
}

@media (max-width: 991px) {
	.ourservice-block.ourservice-v1{padding: 0;}
}
/* End Style For Ourservice */

.tags-link, .block.tags, .ves-block .tagcloud{
	.rtl-text-align-left();
	li{
	 	.inline-block();
	 	margin-bottom: 3px;
	 	margin-right: 2px;
	 	margin-left: 0;
	 	a{
	 		background: #e9e9e9;
		    border-radius: 2px;
		    color: #333333;
		    .rtl-float-left();
		    font-size: @font-size-base!important;
		    padding: 4px 8px;
		    transition: all 0.3s ease-in-out 0s;
		    &:hover{
		    	background: @theme-color-default;
		    	color: @white!important;
		    	text-decoration: none;
		    }
	 	}
	 }
}

/* Style For Testimonial */
.block.tmls-widget{
	.tmls-item{
		border: 0!important;
		padding: 0!important;
	}
	.tmls-item-info{
		text-align: center;
		padding-bottom: 15px;
		.tmls-name{
			color: @white;
			margin-top: 22px;
			font-size: 18px;
			font-weight: 600;
		}
		.tmls-company{color: #999;}
		.tmls-image{
			padding: 15px 0 20px;
			img{.inline-block();}
		}
		.tmls-testimonial{
			max-height: 118px;
			line-height: 24px;
			color: @white;
			font-style: italic;
			overflow: hidden;
			font-size: 14px;
			p{margin: 0;}
		}
	}
	.owl-carousel{
		.owl-dots{margin-top: 10px;}
	}
	.tmls-image img{.border-radius(50%);}
}
/* End Style For Testimonial */


/* Style For Brand */
.page-wrapper .block.brand-widget{
	overflow: hidden;
	background: none;
	.owl-carousel{
		margin-bottom: 0;
		.brand-item{height: auto!important;}
		.owl-nav{.opacity(0); visibility: hidden; .transition(all 0.3s ease-in-out);}
		[class*=owl-]{top: 28%!important;}
	}
	.brand-image{
		text-align: center;
	}
	&:hover{
		.owl-carousel .owl-nav{.opacity(1); visibility: visible;}
	}
}
.page-wrapper .brand-image img{
	.opacity(1);
	.inline-block();
}

.ves-brandlist{
	.brandlist .brand-item{
		height: auto!important;
		margin-bottom: 20px;
		.brand-name{display: none;}
	}
}

/* End Style For Brand */

.product-block {
	div[class^="swatch-opt-"]{
		position: absolute;
		top: 5px;
		margin-bottom: 0;
		width: 100%;
		z-index: 12;
		text-align: center;
		left: 0;
		.transition(all 0.3s ease-in-out);
	}
	.swatch-option{margin: 0 3px 3px !important;}
	.product-image {
		position: relative;
		overflow: hidden;
		.inline-block();
		max-width: 100%;
		margin-bottom: 6px;
		.hover-image {
			.opacity(0);
			.transition(all 0.2s ease-in-out);
			visibility: hidden;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 10;
		}
	}
	.detail-warp{.rtl-float-left(); width: 100%;}
	.product-item-details {
		.price-box {
 			position: relative;
 			margin: 0;
 			> p{margin: 0; .inline-block();}
 			span {.inline-block(); vertical-align: top;}
 			.price-label {display: none;}
 			.price-from, .price-to{
 				.price-label {    
 					display: inline;
				   .rtl-float-left();
				   .rtl-margin-right(5px);
				    line-height: 24px;
				}
 			}
 			.price {
 				color: @theme-color-default;
 				font-size: 16px;
 				font-weight: 500;
 				.transition(all 0.3s ease-in-out);
 			}
 			.old-price .price {
 				text-decoration: line-through;
 				.rtl-margin-left(5px);
 				color: #bbb;
 				font-size: 14px;
 				font-weight: 300;
 				padding-top: 1px;
 			}
 		}
	}
	.rating-summary{margin: 0!important;}
	.product-item-info {
		position: relative; 
		.product-item-name{
			a{
				font-family: @font-heading-family;
				font-size: @font-size-base + 2;
				color: #333;
				line-height: 18px;
			}
		}
		.product-item-actions {
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			padding: 10px 0;
			z-index: 13;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: auto;
		    text-align: center;
			.actions-secondary{
				.inline-block(); vertical-align: top;
				a{
					background: @white;
					.inline-block();
					.size(35px, 35px);
					line-height: 36px;
					color: #333;
					border: 1px solid @border-color__base;
					.border-radius(50%);
					font-size: 16px;
					.transition(all 0.2s ease-out 0s);
					&:hover, &:focus {
						background: @theme-color-default;
						color: @white;
						border-color: transparent;
					}
				}
			}
		}
		.actions-primary {
			.inline-block();
			.add-to-cart{
				background: @theme-color-default;
				color: @white;
				font-size: @font-size-base + 3;
				padding: 0;
				.size(35px, 35px);
				.border-radius(50%);
				.transition(all 0.2s ease-out 0s);
				&:hover, &:focus {
					background: #333!important;
				}
			}
		}
		&:hover, &:focus{
	 		.hover-image {
		        visibility: visible;
		        .opacity(1);
		    }
		    div[class^="swatch-opt-"]{bottom: 45px;}
	 	}
	}
	.product-reviews-summary{margin: 6px 0;}
	.description, .reviews-actions{display: none;}
	.swatch-option{
		float: none;
		.inline-block();
	}
	.swatch-attribute-options{margin-top: 0;}
}
.rating-summary{
	.rating-result{
		width: 70px;
		&:before{
			content: "\f006" "\f006" "\f006" "\f006" "\f006";
			font-family: @font-icon-family;
			font-size: 12px;
			letter-spacing: 3px;
		}
		> span::before{
			content: "\f005" "\f005" "\f005" "\f005" "\f005";
			font-family: @font-icon-family;
			font-size: 12px;
			color: #ffcb33;
			letter-spacing: 3px;
		}
	}
}
.review-control-vote{
	label::before{color: #ffcb33;}
}

.product-block, .product.media{
	.icon {
		position: absolute;
		.rtl-left(10px);
		top: 10px;
		z-index: 12;
		span span {
			background: #ffb400;
			color: @white;
			font-size: @font-size-base - 2;
			font-weight: 600;
			line-height: 21px;
			padding: 0 10px;
			.inline-block();
			vertical-align: middle;
			position: relative;
			.border-radius(30px);
		}
		.new-icon{
			margin-left: 5px;
			span{
				background: #46a6fd;
			}
		}
	}
}


/* Style For Product List */
.productlist-widget{
	position: relative;
	overflow: hidden;
	.owl-stage-outer{margin: 0;}
	.product-item-info .icon > span{margin: 0 3px;}
	.block-content{
		padding: 0;
	}
	&.hidden-tabs{
		.etabs{display: none;}
	}
	.productlist-wait{
		height: 300px;
		background: url('../images/loading.gif') center no-repeat; 
	}
	ul.etabs{
		margin: 20px 0 10px;
		li {
			.inline-block();
			margin-bottom: 0;
			a {
				color: #999;
				padding: 4px 12px;
				font-size: @font-size-base + 1;
				font-weight: 500;
				text-transform: uppercase;
				display: block;
				border: 1px solid transparent;
				position: relative;
				&::after{
					content: "";
					border-top: 5px solid transparent;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: absolute;
					.size(5px, 5px);
					bottom: -5px;
					left: 0;
					right: 0;
					margin: auto;
				}
				&:hover, &.active {
					border-color: @theme-color-default;
					color: @theme-color-default;
					&::after{border-top-color: @theme-color-default;}
				}
			}
		}
	}
	.tab-content {
		.rtl-float-left();
		width: 100%;
		margin-top: 30px;
	}
	.product-block{
		.product-item-description{
			margin-bottom: 0;
			line-height: 24px;
			color: #333;
			font-size: @font-size-base + 2;
			font-weight: 300;
		}
		.product-item-info .product-item-actions .actions-secondary a{
			.rtl-margin-left(5px);
		}
		.product-item-info + .product-item-info{margin-top: 50px;}
		.countdown-timmer{margin: 20px 0;}
	}
	&.title-center{
		ul.etabs{
			text-align: center;
			li{float: none!important; .inline-block();}
		}
	}
	&.content-padding{
		.tab-content{padding: 20px;}
	}
	&.product-style1{
		.tab-content{border: 0;}
		.product-block{
			.product-item-info + .product-item-info{margin-top: 20px;}
			.product-item-info{
			    .rtl-float-left();
			    .rtl-text-align-left();
			    width: 100%!important;
			    border: 0!important;
			    padding: 0;
			    .product-item-actions{background: none;}
				.product-image{
					.rtl-float-left(); 
					max-width: 34%;
					margin-right: 20px;
					margin-bottom: 0;
					.rtl &{margin-right: 0; margin-left: 20px;}
				}
				&:hover .product-img{transform: none!important;}
			}
		}
	}
}

/* End Style For Product List */

.grid.products-grid{
	overflow: hidden;
	.product-item{
		width: 33.333%;
		padding-left: @grid-gutter-width / 2;
		padding-right: @grid-gutter-width / 2;
		margin-top: 20px;
		margin-bottom: 20px;
		.product-block .product-img{margin-bottom: -5px;}
	}
	.product-items{
		margin-left: -(@grid-gutter-width/2);
		margin-right: -(@grid-gutter-width/2);
	}
}

.list.products-list {
	margin-top: 30px;
	.ves-grid-item {
		width: 100% !important;
		.product-item-details {
			.opacity(1);
			visibility: visible;
		}
	}
	.list.items > .product-item:last-child .product-block{border-bottom: 0; margin-bottom: 0;}
	.product-block{
		padding-bottom: 30px;
		border-bottom: 1px solid @border-color__base;
		.product-image{
			vertical-align: top;
		}
		.product-item-details{
			padding-top: 15px;
			.rtl-padding-left(30px);
			.product-item-name{
				margin-top: 0;
				a{font-size: 25px; color: #353535;}
			}
		}
		.product-item-info{
			.rtl-text-align-left();
		}
		.product-item-photo{padding: 0;}
		.description{
			display: block;
			font-size: @font-size-base + 1;
		}
		.product-reviews-summary{margin-bottom: 8px!important;}
	}
	a.more{
		color: @theme-color-default;
		display: block;
		margin-top: 15px;
		font-weight: 600;
		&:hover{text-decoration: underline;}
	}
}


.product.data.items > .item.title{
	> .switch{
		font-weight: 600!important;
		font-size: 22px!important;
		color: #333!important;
		border-bottom: 3px solid transparent!important;
	}
	&.active > .switch{color: @theme-color-default!important; border-bottom: 3px solid @theme-color-default!important;}
}
.product.info.detailed{
	border-bottom: 1px solid @border-color__base;
	.product.data.items .item.content{font-size: @font-size-base + 1;}
	.description{
		line-height: 24px;
	}
}

#product-review-container{
	.block{border-top: 0;}
	.toolbar{background: none; border-color: #ddd; margin-bottom: 0;}
	.review-list{
		margin-bottom: 0;
		> .block-title{display: none;}
		> .block-content{padding: 0;}
	}
	.rating-summary{
		.rating-result{.rtl-float-right();}
		.rating-label{.rtl-margin-right(15px);}
	}
	.review-toolbar .pages{margin-bottom: 20px;}
	.pages a.page{border: 0;}
}
.block.review-add{
	border-top: 0;
	.fieldset .review-legend.legend strong{display: none;}
	.review-field-ratings{.rtl-padding-right(20px);}
	input, .input-text{background: @white!important; border: 1px solid #f0f0f0;}
	textarea{background: @white;}
}
@media (min-width: 992px) {
	.block.review-add{
		.review-form{max-width: 100%;}
		.fieldset > .field{.rtl-float-left(); width: 50%; padding: 0 10px;}
		.review-form-actions{.rtl-float-right(); margin: 0;}
	}
}

.fancybox-skin{
	.action_button{
		ul{
			margin-bottom: 0;
			margin-top: 15px;
			li{.inline-block();}
		}
		.button{
		    padding: 0 18px;
		    line-height: 35px;
		    background: #2f2f2f;
		    color: @white;
		    .inline-block();
		    vertical-align: top;
		    border: 0;
		    border-radius: 3px;
		    &:hover{
		    	background: @theme-color-default;
		    	text-decoration: none;
		    }
		}
	}
}

.owl-carousel{
    width: auto !important;
    margin-left: -(@grid-gutter-width/2)!important;
    margin-right: -(@grid-gutter-width/2)!important;
    .owl-item{
        padding-left: @grid-gutter-width/2!important;
        padding-right: @grid-gutter-width/2!important;
        float: left;
        .translate3d(0px, 0px, 0px);
    }
    .owl-wrapper {
        .translate3d(0px, 0px, 0px);
        float:left;
    }
    .owl-stage{float: left;}
    .owl-nav.disabled{display: none;}
}

.page-wrapper .columns .owl-carousel .owl-nav{
	[class*=owl-]{
		.inline-block();
		padding: 0;
		color: #666;
		.size(28px, 28px);
		line-height: 28px;
		font-size: 15px;
		margin: 0;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		.transition(all 0.3s ease 0s);
		&:hover, &:focus {
			background: @theme-color-default;
			border-color: transparent;
			color: @white;
		}
	}
}
.owl-carousel .owl-nav{
	position: absolute;
	.rtl-right(0);
	top: -40px;
	width: 60px;
}

.owl-nav .owl-prev {
	float: left;
}

.owl-nav .owl-next{
	float: right;
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-sm) {
	.owl-nav .owl-prev {left: 10px;}
	.owl-nav .owl-next{right:10px;}
}

.owl-nav [class*=owl-]:hover{
	border-color:#333;
	text-decoration:none;
}

.owl-carousel .owl-dots .owl-dot.active span, 
.owl-carousel .owl-theme .owl-dots .owl-dot:hover span {
	background: #f00;
}

.countdown-timmer{
	.timer-explain{display: none;}
	.item-detail{margin-bottom: 5px;}
	.item-countdown{
		ul{
			margin: 0 -4px;
	 		> li{
	 			margin: 0 4px;
	 			.inline-block();
	 			position: relative;
		 	}
	 	}
		li{
			.inline-block();
		    color: #333;
		    position: relative;
		    text-align: center;
		    > div + div{
		    	color: #333;
		    	font-size: 12px; font-weight: 500;
		    }
		    .countdown_num{
				margin-bottom: 5px;
				background: @white;
				.size(45px, 40px);
			    line-height: 40px;
			    border: 1px solid @border-color__base;
			    font-size: 16px;
			    font-weight: 600;
		 	}
		}
		li + li{
			.countdown_num{color: @theme-color-default;}
		}
		li + li + li{
			.countdown_num{color: #353535;}
		}
	}
}

.block.related, .block.upsell, .block.crosssell{
	overflow: hidden;
	.block-title{text-align: center;}
	.countdown-timmer{display: none;}
	.owl-dots{display: none!important;}
	.product-item{padding: 0!important;}
}
.block.related{
	position: relative;
	margin-bottom: 50px;
	.block-actions{
		margin-top: -24px;
		padding-bottom: 18px;
		text-align: center;
	    .action.select{
	    	margin: 0 0 0 5px;
	    	padding: 2px 10px;
	    	font-weight: 500;
	    	text-transform: none;
	    }
	}
	.choice.related{
		position: absolute;
		top: 8px;
		.rtl-right(6px);
		z-index: 10;
		label{display: none;}
	}
}
.block.crosssell{
	width: 100%!important;
	padding: 0!important;
}

/* Style For Newletter */
.block.newsletter{
	background: @white;
	padding: 50px 10% 10%;
	text-align: center;
	.block-title{
		background: url('../images/newsletter-icon.png') top center no-repeat;
		margin-bottom: 0;
		padding-top: 50px;
	}
	.block-content{padding: 0;}
	.label{
		color: #999;
    	font-size: @font-size-base + 1;
    	line-height: 18px;
    	display: block;
    	margin: 0 6% 40px;
    	text-align: center;
	}
	.control input{height: 42px; text-align: center;}
	input::-moz-placeholder{color: #666!important;}
	.field .control{
		&::before{display: none;}
	}
	.actions{
		.action.subscribe{
			background: @theme-color-default;
			height: 42px;
			width: 100%;
			text-transform: none;
			font-size: @font-size-base + 1;
			font-weight: 500;
			letter-spacing: 1px;
			&:hover{background: #252525;}
		}
	}
	&.newsletter-v2{
		background: none;
		padding: 0;
		.block-title, .label{display: none;}
		.block-content{padding: 0;}
		.form.subscribe{position: relative;}
		.control input{.rtl-text-align-left();}
		.actions{
			position: absolute;
			width: auto;
			.rtl-right(0);
			top: 0;
			margin: 0;
		}
	}
}

/* End Style For Newletter */

/* Style For Widget HTML */
.widget-html{
	h4 span{color: @theme-color-default; font-size: 16px; font-weight: 300;}
	h2{
		color: #353535; 
		font-size: 45px; 
		font-weight: 600; 
		letter-spacing: -2px;
		margin: 0;
		span{color: @theme-color-default;}
	}
	h3{
		color: #353535;
		font-size: 35px;
	}
	&.html-v1{}
	&.html-v2{
		.block-content{padding: 6px 0 0;}
	}
	&.html-v5{
		.content{.rtl-padding-left(60px);}
		.pull-left{
			font-size: 32px;
		}
		.item{margin-bottom: 30px;}
	}
}

@media (max-width: 991px) {
	.widget-html{
		h2{font-size: 30px;}
		p{margin-bottom: 10px!important; font-size: 14px!important;}
	}
}

/* Style For Widget Links */
.widget-links{
	&.link-inline{
        li{.inline-block();}
        .nav-links a{font-weight: 800; color: #353535; margin: 0 15px; font-size: @font-size-base;}
    }	
}

/* End Style For Widget HTML */

.ves-widget.widget-accordion{
	.panel-heading{
		background: #f7f7f7;
		font-family: @font-heading-family;
		padding: 16px;
	}
	.panel{border: 1px solid @border-color__base;}
	.panel-group .panel + .panel{margin-top: 10px;}
	.panel-body{border-top: 0!important; font-size: 14px;}
}

.block-aboutus{
	.block-content{ 
		color: #999;
		font-size: 14px;
	}
}

.login-container, .form-create-account{
	.actions-toolbar .primary{.rtl-float-left();}
	.actions-toolbar{margin-left: 0!important;}
}
.login-container{
	.fieldset::after{margin-left: 0!important;}
}
.block-customer-login{.rtl-text-align-left();}

.field-tooltip{z-index: 1;}
.field .control._with-tooltip input{position: relative; z-index: 2;}

.action.primary{
	background: #252525;
	color: @white;
	border: 0!important;
	.border-radius(0);
	padding: 7px 22px;
	font-family: @font-body-family;
	font-size: @font-size-base - 1;
	font-weight: 400;
	text-transform: uppercase;
	&:hover, &:active, &:focus{
		background: @theme-color-default;
	}
}

.abs-actions-addto-gridlist::before, .table-comparison .wishlist.split.button > .action.split::before, 
.product-items .wishlist.split.button > .action.split::before, 
.products.list.items .action.towishlist::before, 
.table-comparison .action.towishlist::before, 
.product-item-actions .actions-secondary > .action::before{
	font-size: 16px;
}

.modal-inner-wrap{
	.modal-header, .modal-content, .modal-footer{
		border: 0;
		box-shadow: none;
	}
}

.wishlist-index-index .products-grid{
	&.wishlist{margin-right: 0;}
	.product-item{
		margin-bottom: 20px!important;
		padding-left: 15px!important;
		.control{.inline-block();}
		.field.qty{float: left;}
		.product-item-actions{
			margin: 0;
			button{padding: 5px 10px;}
		}
	}
	.product-items{margin-right: 0;}
}

.themesettings-index-quickview, .productlist-index-quickview{
	.column.main {
	    width: 100%!important;
	    padding-top: 20px;
	}
}

#ves-paneltool{
	.panel-apply{
		.btn {
		    display: inline-block;
		    line-height: 30px;
		    padding: 0 15px !important;
		    vertical-align: top;
		    text-decoration: none;
		    font-size: 14px!important;
		    span{font-size: 14px!important;}
		    &.btn-apply{background: #669900;}
		}
	}
}
.product.media{ 
	position: relative;
	.fotorama__stage{margin-bottom: 10px;}
	.fotorama__thumb-border{border-color: @theme-color-default;}
	.fotorama__stage__frame .fotorama__img{
		vertical-align: top;
		position: static;
		transform: none;
	}
	.fotorama__arr {
	    top: 44%;
	    width: 60px;
	    height: 80px;
	}
}

.cms-page-error {
    padding: 60px 0 100px;
    color: #666;
    position: relative;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    img{margin-left: -22px;}
    h1{
    	color: #ddd;
    	font-size: 200px;
    	font-weight: 800;
    	margin: 0;
    }
    h2 {
        font-size: 40px;
        color: @theme-color-default;
        font-weight: 700;
        .inline-block();
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: -10px;
    }
    a{margin: 5px;}
    .back-page{
        .inline-block();
    }
    .back-home{
        .inline-block();
    }
}
}