<?php
$ves = $this->helper('Ves\Themesettings\Helper\Theme');
$sticky = $ves->getHeaderCfg("sticky_settings/sticky");
$sticky_type = $ves->getHeaderCfg("sticky_settings/sticky_type");
$logo = $ves->getHeaderCfg("sticky_settings/logo");
$menu = $ves->getHeaderCfg("sticky_settings/menu");
$search = $ves->getHeaderCfg("sticky_settings/search");
$custom_block = $ves->getHeaderCfg("sticky_settings/custom_block");
$topcart = $ves->getHeaderCfg("sticky_settings/topcart");
$topbar = $ves->getHeaderCfg("sticky_settings/topbar");
$enable_toplinks = $ves->getHeaderCfg("toplinks_settings/enable");
$show_search = $ves->getHeaderCfg("search_settings/search");
$show_topbar = $ves->getHeaderCfg("topbar/show_topbar");

if($sticky_type == 'all'){
	$logo = $menu = $search = $topcart = $toplinks = $topbar= true;	
} 
?>
<div id="ves-header" class="header3">
	<!-- Top bar -->
	<?php if($show_topbar): ?>
		<div class="container">
			<div class="panel page-topbar clearfix <?php echo $topbar?"sticky-item":"sticky-item-hidden"  ?>">
				<div class="ves-inner">
					<div class="block-header hidden-sm hidden-xs pull-left">
						<?php 
							echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('amaze-block-header')->toHtml();
						?>
					</div>

					<div class="custom-link pull-right hidden-xs hidden-sm">
						<?php 
							echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('amaze-header-links')->toHtml();
						?>
					</div>
					<div class="setting-wrapper pull-right hidden-xs hidden-sm">
						<?php echo $this->getChildHtml('setting_links') ?>
					</div>

					<?php echo $this->getChildHtml('skip_to_content') ?>
					<div class="pull-right">
						<?php echo $this->getChildHtml('skip_to_content') ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif; ?>
	
	<!-- header content -->
	<div class="header-content clearfix">
		<div class="container">
			<div class="ves-inner">
				<div class="row no-margin">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="header-logo">
						<div class="logo-wrapper <?php echo $logo?"sticky-item":"sticky-item-hidden"  ?>">
							<?php echo $this->getChildHtml('logo') ?>
						</div>
					</div>
					<div class="header-right">
						<div class="top-links pull-right hidden-xs hidden-sm">
							<?php if($enable_toplinks){ ?>
								<div class="header-links-wrapper pull-left">
									<?php echo $this->getChildHtml('top_links') ?>
								</div>
							<?php } ?>
						</div>
						<div class="pull-right minicart-warp <?php echo $topcart?"sticky-item":"sticky-item-hidden"  ?>"><?php echo $this->getChildHtml('minicart') ?>
						</div>
						<?php if($show_search): ?>
							<div class="search-wrapper pull-right">
								<div class="dropdown-toggle" data-toggle="dropdown">
									<div class="icon-search">&nbsp;</div>
								</div>
								<div class="search-content" role="menu">
									<?php echo $this->getChildHtml('vesTopSearch') ?>
								</div> 
							</div>
						<?php endif; ?>
					</div>
					<div class="header-menu">
						<!-- Menu top -->
						<div class="ves-menutop clearfix <?php echo $menu?"sticky-item":"sticky-item-hidden" ?>">
							<div class="ves-inner">
								<?php echo $this->getChildHtml('catalog.topnav') ?>
							</div>
						</div>
					</div>
				</div>
				</div>
				<?php if($custom_block = $this->getChildHtml("custom_block")): ?>
				<div class="customblock-wrapper <?php echo $custom_block?"sticky-item":"sticky-item-hidden"  ?>">
					<?php echo $custom_block; ?>
				</div>
				<?php endif; ?>
			</div>
		</div>
	</div>
	<?php if($sticky){ ?>
	<script type="text/javascript">
		require([
			'jquery',
			'vestheme'
			], function(){
				
				function getScroll () {
				    var b = document.body;
				    var e = document.documentElement;
				    return {
				        left: parseFloat( window.pageXOffset || b.scrollLeft || e.scrollLeft ),
				        top: parseFloat( window.pageYOffset || b.scrollTop || e.scrollTop )
				    };
				}
				jQuery(document).ready(function($) {
					var h = jQuery('.page-header').height();
					var myHeader = jQuery('.page-header');
					myHeader.data( 'position', myHeader.position() );

					jQuery(window).scroll(function(){
						var hPos = myHeader.data('position'), scroll = getScroll();
						var h_px = jQuery("#ves-header", ".page-header").outerHeight(true)+"px";

						if ( hPos.top < scroll.top) {
							jQuery('.page-header').delay(1000).addClass("navbar-fixed-top");
							
							var headerHeight = jQuery('.page-header').height();
							<?php if($sticky_type == 'specify'){ ?>jQuery(".page-wrapper").css({"padding-top":headerHeight+"px"});<?php } ?>
							jQuery(".sticky-item-hidden").css({"display":"none"});
							jQuery("#maincontent").delay(1000).css("margin-top", h_px);
						}else{
							jQuery(".sticky-item-hidden").css({"display":""});
							jQuery('.page-header').delay(1000).removeClass("navbar-fixed-top");
							
							jQuery(".page-wrapper").css({"padding-top":""});
							jQuery("#maincontent").delay(1000).css({"margin-top": ""});
						}
					});
				});
			});
	</script>
	<?php } ?>
	<?php echo $this->getChildHtml('ves_navigation'); ?>
</div>