// *****************************************************
//  * @package Venus Theme Framework for Magento 2.x
//  * @version 1.0
//  * @author http://www.venustheme.com
//  * @copyright Copyright (C) Augus 2015 VenusThemes.com <@email:venusthemes@gmail.com>.All rights reserved.
//  * @license   GNU General Public License version 1
// ******************************************************

& when (@media-common = true) {
.navigation {
	background: transparent!important;
	border-top: 2px solid #333;
	ul.ui-menu{padding: 0;}
	ul > li, ol > li{margin-bottom: 0;}
	.level0 {
		margin: 0!important;
		.level1.parent::before{top: 15px!important;}
		> .level-top {
			text-transform: uppercase;
			padding: 0 28px!important;
			line-height: 58px!important;
		}
		> .level1 {
			&.parent {
				position: relative; 
				&:before {
					position: absolute;
					content: "\f105";
					.size(20px, 20px);
					right:0px;
					top:10px;
					font-family:"FontAwesome";
				}
			}
		}
		.submenu{
			border: 1px solid #e6e6e6!important;
			a{padding: 15px 20px!important;}
		}
	}
	.ui-menu > li > a{
		font-family: @font-heading-family;
		color: @black!important;
		font-weight: normal;
		letter-spacing: 3px;
	}
	.ui-menu > li > a.level-top{font-size: @font-size-base + 2;}
	.level0.active > .level-top, .level0.has-active > .level-top{
		border: 0!important;
		&::before{
			content: "";
			background: @theme-color-default;
			position: absolute;
			top: -2px;
			left: 0;
			width: 100%;
			height: 2px;
		}
	}
}

.nav-toggle{
	&::before{color: #353535!important;}
}

/* Ves Megamenu */
.ves-menutop{
	position: relative;
	.ves-megamenu{
		background: transparent;
		margin-bottom: 0;
		.rtl-text-align-right();
		p{margin: 0;}
		.megamenu-header .links li, .megamenu-footer .links li{display: inline-block; padding: 0 5px;}
		.cat-label.pin-top{top: -10px;}
		.cat-label{font-family: @font-body-family; font-size: 9px; .border-radius(2px); font-weight: 400; line-height: 13px;}
		&.menu-hover li .dropdown-menu{min-width: 230px;}
		li.level0{
			.inline-block();
			float: none!important;
			> a{
				font-family: @font-menu-family;
				font-size: @font-size-base + 3;
				font-weight: 500;
				color: #111; 
				line-height: 32px;
				padding: 0 18px;
				position: relative;
				text-transform: none;
				.transition(all 0.2s ease 0s);
				&.fa{font-family: @font-icon-family;}
				i{font-size: 20px;}
			}
			&.active, &:hover{
				> a{background: none; color: @theme-color-default!important;}
			}
		}
		.nav-item.level1 .dropdown-menu{left: auto; top: 98%;}
		.megamenu-widget{
			.block-title{
				margin-bottom: 15px;
				padding-bottom: 5px;
				border-bottom: 1px solid @border-color__base;
				color: #222;
				font-size: 20px;
				*{font-weight: 400; font-size: 20px;}
			}
			.block-content{padding: 0;}
		}
		.products-widget{
			position: relative;
			.owl-carousel{max-width: 100%!important;}
			.owl-nav{
				position: absolute;
				.rtl-right(0);
				top: 0;
				width: 40px;
				a{
					float: left;
					width: 20px;
					cursor: pointer;
					border: 1px solid transparent;
					padding: 0;
					text-align: center;
					.transition(all 0.3s ease 0s);
					&:hover{color: @theme-color-default; border-color: @theme-color-default;}
				}
			}
			.product-item{
				.rtl-border-right(@border-color__base);
				&:last-child{border: 0!important;}
			}
		}
		.dynamic-items li{padding: 15px 0;}
		.dynamic-items li a{position: relative; font-weight: 400;}
		.dynamic-item .products-widget{padding: 3px 3px 0;}
		.dropdown-menu{
			padding: 0;
			border-radius: 0;
			color: #666;
			border-top: 3px solid @theme-color-default;
			.rtl-text-align-left();
			.box-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
			.transition(all 0.2s ease 0s);
			.megamenu-header{
				border-bottom: 0;
				margin-bottom: 0;
				margin-top: 10px;
			}
			.right-sidebar{
				background: #f6f6f6;
				padding: 30px!important;
				.right-item{
					p{color: @black; margin-top: 12px; font-weight: 600;}
				}
				.right-item + .right-item{margin-top: 30px;}
			}
			.content-wrap{margin: 0;}
			.subgroup.level1 > a{ 
				color: @black;
				font-size: @font-size-base;
				font-weight: 700;
				.rtl-float-left();
				border-bottom: 1px solid @border-color__base;
			}
			.level1.nav-dropdown{
				> .item-content1{
					margin-left: -10px; margin-right: -10px;
				}
			}
			a:hover, .subgroup .subgroup .dropdown-mega a:hover{color: @theme-color-default;}
			.owl-carousel .owl-stage-outer{padding: 3px 3px 0;}
			.nav-item > a{
				color: #353535;
				line-height: 26px;
				font-weight: 400;
				position: relative;
				font-size: @font-size-base;
				.caret{
					&::after{font-size: 15px; line-height: 15px; .rtl-right(2px); top: 5px;}
				}
				&:hover{color: @theme-color-default;}
			}
			.nav-item.level1 .caret{
				.inline-block(); vertical-align: top;
				padding-top: 2px;
				&::after{position: static;}
			}
			.subgroup{
				> a > .caret{display: none!important;}
				.megamenu-footer{
					padding: 0;
					background: none;
					margin-top: 8px;
				}
				.dropdown-mega > .content-wrap > .megamenu-content{padding: 0;}
			}
			.view-all{
				> a{
					color: @theme-color-default;
					&::after{
						content: "\f2f6";
						font-family: @font-icon-family-second;
						font-size: 13px;
						margin-left: 5px;
						.transition(all 0.2s ease 0s);
					}
					&:hover::after{.rtl-margin-left(8px);}
				}
			}
		}
		.caret{
			border: 0;
			width: 6px;
			position: static!important;
			&::after{
				content: "\f2f2";
				font-family: @font-icon-family-second;
				color: #666;
				position: absolute;
				top: 1px;
				font-size: 17px;
				.rtl-right(15px);
			}
		}
	}
	.ves-megamenu.nav-mobile{
		padding: 0 10px;
		.opener{
			padding: 15px;
			.rtl-right(-8px);
			&::before{
				content: "\f107";
			}
			&.item-active:before{content: "\f106";}
		}
		.dropdown-menu{
			background: none;
			padding: 10px;
			.nav-item > a{
				padding: 6px 0;
				&:hover{text-decoration: none;}
			}
			.subgroup.level1 > a{border-bottom-color: rgba(255, 255, 255, 0.1);}
			.subgroup .dropdown-mega{.rtl-padding-left(6px);}
			.opener{padding: 12px 10px;}
			*{color: @white;}
			.products-widget{
				.product-item{border: 0!important;}
				.product-item-info{background: none;}
			}
		}
		li.active .submenu{background: none!important;}
		li{
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			&.level0{
				margin: 0;
				border-left: 0!important;
				border-right: 0!important;
				padding: 0;
				> a{
					padding: 0 5px!important;
					line-height: 45px; font-weight: 500;
					letter-spacing: 1px; text-transform: uppercase;
					font-size: @font-size-base + 1;
					.rtl-text-align-left();
				}
			}
		}
		.product-block .product-item-details .price-box .price{color: @white;}
	}
}
@media (min-width: 992px){
	.ves-menutop .ves-megamenu{
		li.level0{
			> a .caret::before{
				content: "";
				border-bottom: 8px solid @theme-color-default;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				width: 8px;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -6px;
				.opacity(0);
				visibility: hidden;
				.transition(all 0.2s ease 0s);
			}
			&:hover > a .caret::before{
				.opacity(1);
				visibility: visible;
			}
		}
		.dropdown-menu .content-wrap .megamenu-content{padding: 20px;}
	}
}

/* Ves Vertical Menu */
.vertical-menu{
	background: #353535;
	position: relative;
	> p{margin: 0;}
	.block{
		margin-bottom: 0;
		.block-title{
			min-height: 58px; 
			line-height: 55px;
			padding: 0 22px;
			margin: 0;
			*{color: @white;}
			strong{
				border: 0;
				&::before, &::after {
				    font-family: @font-icon-family;
				    font-weight: normal;
				}
				&::before{
					content: "\f0c9";
					.rtl-margin-right(8%);
					font-size: 16px;
					.rtl-float-left();
				}
				&::after {
					content: "\f0d7";
					font-size: @font-size-base - 1;
				    position: absolute;
				    .rtl-right(8%);
				    top: 2px;
				}
			}
		}
	}
	.ves-vertical{
		background: @white;
		.opacity(0);
		visibility: hidden;
		top: 130%;
		.transition(all 0.2s ease-in-out);
		position: absolute;
		z-index: 100;
		.box-shadow(0 2px 10px rgba(0, 0, 0, 0.1));
		.icon-left{margin-right: 15px;} 
	}
	&:hover{
		.ves-vertical{
			.opacity(1);
			visibility: visible;
			top: 100%;
		}
		.block .block-title{
			strong:after{content: "\f0d8";}
		}
	}
}

.column.main{
	.block.ves-menu{
		.block-title{
			background: @theme-color-default;
			margin-bottom: 0;
			.rtl-padding-left(22px);
			position: relative;
			&::before{
				content: "\f0c9";
				font-family: @font-icon-family;
				font-size: 16px;
				color: #353535;
				.rtl-margin-right(15px);
			}
		}
		.ves-vertical{border: 1px solid @border-color__base;}
	}
}
.ves-megamenu.ves-horizontal{
	.icon-left{.rtl-margin-right(10px);}
}

}
