<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Currency switcher
 *
 * @see \Magento\Directory\Block\Currency
 */
?>
<?php if ($block->getCurrencyCount() > 1): ?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div>
    <strong class="label switcher-label hidden"><span><?php echo __('Currency') ?></span></strong> 
    <div class="selected">
        <strong class="language-<?php echo $block->escapeHtml($block->getCurrentCurrencyCode()) ?>">
            <span><?php echo $block->escapeHtml($currentCurrencyCode) ?></span>
        </strong>
    </div>
    <ul class="sub-option">
        <?php foreach ($currencies as $_code => $_name): ?>
            <?php if ($_code != $currentCurrencyCode): ?>
                <li class="currency-<?php echo $_code ?> switcher-option">
                    <a href="#" data-post='<?php echo $block->getSwitchCurrencyPostData($_code); ?>'><?php echo $_code ?> - <?php echo $_name ?></a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
