/* Custom css */
.product-block {
    text-align: center;
}

.scrollup {
    background: #ec1921 !important;
}

.ves-menutop .ves-megamenu li.level0.active > a, .ves-menutop .ves-megamenu li.level0:hover > a {
    color: #ec1921 !important;
}

.block.amaze-footer .copyright span {
    color: #ec1921 !important;
}

.minicart-wrapper .counter-number {
    background: #ec1921 !important;
    color: #f8f8f8 !important;
}

.block.newsletter .actions .action.subscribe {
    background: #ec1921 !important;

}

.block.newsletter .actions .action.subscribe {
    background: #ec1921 !important;

}

.product-block .product-item-details .price-box .price {
    display: none !important;
}

.product-block .product-item-info .actions-primary .add-to-cart {
    display: none !important;
}

.page-header .setting-links,.header-links,.page-header .custom-link {
    display: none !important;
    /*line-height: 50px;*/
}

.page-header .header-menu{
    margin-top: 11px;
}

#maincontent img {
    margin: 0 auto;
}

.block.amaze-footer .copyright {
    border-top: 1px solid #ec1c24 !important;
}


.vesblog-category-view .post-summary .read-more, .ves-bloglatest .post-summary .read-more, .vesblog-search-result .post-summary .read-more, .vesblog-author-view .post-summary .read-more {
    background: #6d6f71 !important;

}
.page-main > .page-title-wrapper .page-title {
    color: #ec1720 !important;

}

@media (min-width: 768px) {
    .ves-menutop .ves-megamenu li.level0:first-child{
        margin-left: 150px !important;

    }
    .ves-menutop .ves-megamenu li.level0 > a{
        padding: 0 9px !important;
        font-size: 15px !important;
    }
    .caret {
        margin-left: 7px !important;
    }
    .top_title h1,.page-main > .page-title-wrapper .page-title{
        font-size: 15px !important;
    }

    .top_title h1,.page-main > .page-title-wrapper .page-title,.block .block-title *{
        font-size: 15px !important;
    }
    .top_title h1{
        font-weight: normal !important;
        text-transform: capitalize !important;
    }
    #main .map{
        margin-top: 3px !important;
    }
}
