/* partexfurniture css */

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.productlist-easytab-play .block-title {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
    background: url(../images/title-bg-3.png) top center no-repeat !important;
    height: 150px !important;
    background-size: 150px !important;
}

.productlist-easytab-play .block-title strong, .productlist-easytab-play .pretext-html {
    display: none !important;
}

@media (min-width: 992px), print {
    .block.big-title .block-title * {
        font-size: 30px !important;
    }
}

@media screen and ( max-width: 1366px ) and ( max-height: 800px ) {
    .ves-menutop .ves-megamenu.menu-hover li .dropdown-menu {
        max-height: 550px;
        overflow: hidden;
        overflow-y: scroll;
    }
}

#ves-blockbuilder5495246241521086274 .col-no-padding {
    padding: 0 60px !important;
}

.block.widget .product-item-info {
    text-align: center;
}

.actions-primary .stock.unavailable {
    width: 220px;
    margin: 10px auto;
}




