/*
	Skin Blue: #6cc995;
*/
.product-reviews-summary .reviews-actions a:hover, .block.amaze-footer .nav-links li a:hover,
.ves-megamenu .dropdown-menu a:hover, .widget-images.widget-images-v3 .social li a:hover,
.product.data.items > .item.title.active > .switch, .view-more,
.ves-menutop .ves-megamenu li.level0.active > a, .ves-menutop .ves-megamenu li.level0:hover > a,
.product-info-main .price-box .price-wrapper .price
{
  color: #6cc995!important;
}
.columns a:hover, .columns .alink:hover, .page-main > .page-title-wrapper .page-title,
body .page-wrapper a:hover, body .page-wrapper .alink:hover,
.product-info-main .product-info-stock-sku .stock.available, 
.product-info-main .product-info-stock-sku .stock.unavailable,
.blog-posts .owl-carousel .post-title a:hover, .page-header .page-topbar .block-header a,
.page-wrapper .products.wrapper ~ .toolbar .toolbar-amount, .cms-page-error h2, 
.minicart-wrapper .action.showcart .counter-price, .block.gosmart-footer .copyright span,
.countdown-timmer .item-countdown li + li .countdown_num
{
  color: #6cc995;
}

.scrollup, .tags-link li a:hover, .block.tags li a:hover, .ves-block .tagcloud li a:hover,
.ves-menutop .ves-megamenu li.level0 > a::after, .ves-autosearch .search_box .button-search,
.product-block .product-item-info .product-item-actions .actions-secondary a:hover,
.page-wrapper .columns .owl-carousel .owl-nav .owl-next:hover,
.page-wrapper .columns .owl-carousel .owl-nav .owl-prev:hover, .sidebar .blog-searchform .search-submit,
.blog-cats ul li a:hover, .checkout-index-index .page-header,
.vesblog-category-view .post-summary .read-more, .ves-bloglatest .post-summary .read-more
{
  background-color: #6cc995;
}

.page-header .setting-links-dropdown li a:hover, .product-info-main .add-action:hover, 
.bundle-options-container .add-action:hover, .product-add-form .add-action:hover,
.vesblog-category-view .post-title a:hover, .ves-bloglatest .post-title a:hover,
.ves-menutop .ves-megamenu .dropdown-menu .view-all > a,
.sidebar .block.filter .filter-options .filter-options-content li > a:hover, 
.sidebar .block.filter .filter-options .filter-options-content li > a:active, 
.sidebar .block.filter .filter-options .filter-options-content li > a:focus,
.widget-html h2 span, .widget-html h4 span
{color: #6cc995;}

.page-wrapper .columns .widget-carousel .slider-content h3 span, 
.page-wrapper .columns .widget-carousel .slider-content h4 span,
.minicart-wrapper .action.showcart i, .product-info-main .product-list-categories a,
.page-wrapper .ves-vertical li.level0:hover > a, .page-wrapper .ves-vertical .dropdown-menu .view-all > a,
.page-header .block-header .nav-links a:hover, .productlist-widget ul.etabs li a:hover, 
.productlist-widget ul.etabs li a.active, .block.amaze-footer .copyright span,
.blog-posts .post-date::before, .blog-posts .post-comment::before,
.block.amaze-footer .nav-links li a::before, .product-block .product-item-details .price-box .price,
.vesblog-category-view .post-date::before, .ves-bloglatest .post-date::before, 
.vesblog-category-view .post-comment::before, .ves-bloglatest .post-comment::before
{color: #6cc995;}

.review-form .action.submit.primary:hover, body .page-wrapper .btn.btn-primary:hover,
.page-header .header-bottom, .widget-images.widget-images-v3 h4, .page-wrapper .toolbar .pages strong.page,
.page-wrapper .products.wrapper ~ .toolbar .pages li a:hover, .page-wrapper .toolbar .pages strong.page,
.page-wrapper .columns .widget-carousel .slider-content .action.primary.dark:hover
{
  background: #6cc995;
}

.page-wrapper .toolbar .modes-mode.active, .product-info-main .product-addto-links a:hover, 
.product-options-bottom .product-addto-links a:hover, .minicart-wrapper .counter-number,
.product-block .product-item-info .actions-primary .add-to-cart, .action.primary:hover, 
.action.primary:active, .action.primary:focus,
.checkout-index-index .minicart-wrapper .action.showcart .counter.qty,
.block.newsletter .actions .action.subscribe, .product-info-main .box-tocart .add-to-cart, 
.bundle-options-container .box-tocart .add-to-cart, .product-add-form .box-tocart .add-to-cart
{background: #6cc995;}

.product-info-main .box-tocart .action.tocart:hover, .bundle-options-container .box-tocart .action.tocart:hover, 
.product-add-form .box-tocart .action.tocart:hover
{background: #6cc995!important;}

.review-form .action.submit.primary:hover,
.ves-menutop .ves-megamenu .dropdown-menu, .productlist-widget ul.etabs li a:hover, 
.productlist-widget ul.etabs li a.active, .product.media .fotorama__thumb-border{border-color: #6cc995;}

.product.data.items > .item.title.active > .switch{border-bottom-color: #6cc995!important;}

.productlist-widget ul.etabs li a:hover::after, 
.productlist-widget ul.etabs li a.active::after{border-top-color: #6cc995;}

._keyfocus *:focus, input:focus:not([disabled]), textarea:focus:not([disabled]), select:focus:not([disabled]){
  box-shadow: 0 0 3px 1px #6cc995;
}

/* Custom */
.widget-images.widget-images-v3 h4::before{border-right-color: #2585cf;}
.rtl .widget-images.widget-images-v3 h4::before{border-left-color: #2585cf;}
@media(min-width: 992px){
	.ves-menutop .ves-megamenu li.level0 > a .caret::before{
		border-bottom-color: #6cc995;
	}
}